// dashboard styles starts from here
.gwc.panel {
  .panel__row {
    display: flex;
    align-items: center;
    margin-bottom: rem(33);
    justify-content: space-between;

    @media #{$lg} {
      margin-bottom: rem(70);
      padding-left: rem(25);
    }
  }
  &--box {
    background-color: #f9f4f1;
    padding: rem(24) rem(20) rem(23) rem(21);
    margin: 0 rem(-12) rem(20);
    border-radius: rem(20);
    @media #{$lg} {
      margin: 0 0 rem(16);
      padding: rem(24) rem(25) rem(25) rem(25);
    }

    .panel__head {
      @media #{$lg} {
        padding-left: rem(7.42);
        display: flex;
        align-items: center;
        border-bottom: 1px solid #181c4b;
        text-align: left;
        padding-bottom: rem(21);
      }

      h3 {
        flex: 1;
        font-weight: 700;
        font-size: rem(36);
        line-height: rem(47);
        font-family: $secondary-font;
        color: #181c4b;
        text-align: left;
        border-bottom: 1px solid #181c4b;
        padding-bottom: rem(27);
        margin-bottom: rem(17);
        @media screen and(max-width:440px) {
          font-size: rem(36);
          line-height: rem(41);
          text-align: left;
        }
        @media #{$lg} {
          border-bottom: 0;
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
    }
    .l-tag {
      padding: rem(3) rem(10);
      margin: 0 rem(7) rem(16) 0;
      color: #fff;
      &.bg--white {
        color: #181c4b;
      }
    }
    .l-btn {
      font-weight: 500;
      padding: rem(10) rem(25);
      i {
        svg {
          width: auto;
          height: auto;
        }
      }
    }
  }
}
// dashboard styles ends from here
