.gwc.panel
    .container
        .panel__boxes 
            .panel__box
                -var panelTag1 ="Data Analysis"
                -var panelTag2="Data Science"
                -var customClass="bg--lawn"
                -var panelTag3="Remote"
                -var panelHead="Data Scientist"
                include panel--box.pug
            .panel__box
                -var panelTag1="Platform"
                -var panelTag2="Engineering"
                -var customClass="bg--violet"
                -var panelTag3="Remote"
                -var panelHead="Back-End Software Engineer"
                include panel--box.pug
            .panel__box
                -var panelTag2="Platform"
                -var panelTag3="Engineering"
                -var customClass="bg--violet"
                -var panelHead="Remote"
                -var panelHead="Full-Stack Software Engineer"
                include panel--box.pug