.gwc.brand
    .container.container--lg
        .brand__wrap 
            .brand__logo
                a(href="#0" title="Logo")
                    img(src="images/logo.svg", alt="Logo")
            .brand__text
                h2 Consumer Tech 
                    i Investors 