// header animation on scroll starts form here
.gwc.brand {
  background-color: #181c4b;
  padding: rem(197) rem(0) rem(38);
  display: none;

  @media #{$lg} {
    display: block;
  }

  .brand__wrap {
    display: flex;
    align-items: flex-end;

    .brand__logo {
      width: 69%;
      flex: 0 0 69%;

      @media screen and(min-width:1410px) {
        width: 74%;
        flex: 0 0 74%;
      }

      a {
        display: inline-block;
        visibility: hidden;

        img {
          width: rem(903);
        }
      }
    }

    .brand__text {
      width: 31%;
      flex: 0 0 32%;
      padding-bottom: rem(13);
      border-left: 1.5px solid #93a1ae;
      padding-left: rem(66);
      margin-top: rem(-10);
      padding-top: rem(30);
      @media screen and(min-width:1410px) {
        width: 26%;
        flex: 0 0 26%;
      }

      h2 {
        font-weight: 400;
        font-size: rem(27);
        letter-spacing: -0.02em;
        color: #5dbdf0;
        display: inline-block;
        font-size: rem(14);
        line-height: rem(14);
        font-family: $secondary-font;
        @media #{$md} {
          font-size: rem(27);
          line-height: rem(27);
        }
        @media #{$xl} {
          font-size: rem(42);
          line-height: rem(42);
        }
        span {
          font-style: italic;
          @media #{$xl} {
            display: block;
          }
        }
      }
    }
  }
}

// header animation on scroll ends form here
