.gwc.footer {
  background-color: #181c4b;
  padding: rem(29) 0 rem(8);

  @media #{$lg} {
    padding: rem(41) 0 rem(29);
  }

  overflow-x: hidden;

  .footer__brand {
    @media #{$lg} {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: rem(81);
    }

    .footer__logo {
      @media #{$lg} {
        width: 74.2%;
        flex: 0 0 74.2%;
        padding-right: rem(20);
      }
      @media #{$xxxl} {
        padding-right: rem(76);
      }

      a {
        display: inline-block;
        width: 100%;

        img {
          width: 100%;
        }
      }
    }

    .footer__text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: rem(17);

      @media #{$lg} {
        margin-top: 0;
        display: block;
      }

      @media #{$xl} {
        border-left: 1.5px solid #93a1ae;
        padding-left: rem(30);
        flex-grow: 1;
        padding-top: 31.5px;
        padding-bottom: 19.5px;
      }
      @media #{$xxxl} {
        padding-left: rem(66);
      }

      h2 {
        font-weight: 400;
        font-size: rem(27);
        letter-spacing: -0.02em;
        color: #5dbdf0;
        display: inline-block;
        font-size: rem(14);
        line-height: rem(14);
        font-family: $secondary-font;

        @media #{$md} {
          font-size: rem(27);
          line-height: rem(27);
        }

        @media #{$xl} {
          font-size: rem(42);
          line-height: rem(42);
        }

        i {
          font-style: italic;

          @media #{$xl} {
            display: block;
          }
        }
      }

      &::after {
        content: "";
        display: block;
        width: rem(0.39);
        height: rem(27);
        background-color: #93a1ae;
        order: 2;
        opacity: 0.3;

        @media #{$lg} {
          display: none;
        }
      }

      ul {
        display: inline-block;
        order: 3;

        @media #{$lg} {
          order: unset;
        }

        li {
          display: inline-block;
          padding-left: rem(16);

          &:first-child {
            padding-left: 0;
          }

          a {
            width: rem(21.65);
            height: rem(21.65);
            display: block;
          }
        }
      }
    }
  }

  .footer__nav {
    position: relative;
    padding-bottom: rem(25);
    @media #{$lg} {
      display: flex !important;
      justify-content: space-between;
      padding-bottom: rem(35);
    }

    .footer__col {
      margin-bottom: rem(30);

      @media #{$lg} {
        width: 50%;
        flex: 0 0 50%;
        display: flex;
        justify-content: end;
        margin-bottom: rem(0);
      }
    }

    .footer__subcol {
      margin-bottom: rem(30);

      @media #{$lg} {
        width: 50%;
        flex: 0 0 50%;
        margin-bottom: 0;
      }

      .footer__contact {
        a {
          @media #{$lg} {
            margin-top: 20px;
            display: inline-block;
          }
        }
      }
    }

    .l-btn {
      margin-bottom: rem(30);

      svg {
        path {
          stroke: #5dbdf0;
        }
      }

      @media #{$lg} {
        margin-bottom: rem(96);
      }

      &:hover,
      &:focus {
        color: #181c4b !important;
        background-color: #5dbdf0;

        svg {
          path {
            stroke: #181c4b;
          }
        }
      }
    }

    h3 {
      font-weight: 400;
      font-size: rem(14);
      line-height: rem(21);
      letter-spacing: -0.5px;
      color: #5dbdf0;
    }

    ul {
      li {
        p {
          color: #fff;
          font-weight: 400;
          font-size: rem(14);
          line-height: rem(21);
        }

        a {
          color: #fff;
          font-size: rem(14);
          line-height: rem(21);
          &:hover {
            color: #5dbdf0;
          }
        }
      }
    }

    .footer__careers {
      margin-bottom: rem(38);
    }

    .footer__resources {
      margin-bottom: rem(37);
    }

    .footer__social {
      h3 {
        margin-bottom: rem(14);
      }

      ul {
        padding-left: 0;

        li {
          display: inline-block;
          padding-right: rem(20);
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      height: rem(1);
      background: #4a5c76;
      left: -100%;
      right: -100%;
      bottom: 0;
    }
  }

  .footer__bottom {
    margin: 0 rem(-24);
    padding: 0 rem(24);
    margin-top: rem(28);
    padding-top: rem(3);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 0.259722px solid #4a5c76;
    @media #{$lg} {
      border: 0;
      margin: 0;
      padding: 0;
      padding-top: rem(26);
    }

    .footer__copyright {
      p {
        font-weight: 400;
        font-size: rem(9);
        line-height: rem(13);
        color: #93a1ae;

        @media #{$lg} {
          font-size: rem(14);
          line-height: rem(14);
        }
      }
    }

    .footer__menu {
      ul {
        padding-left: 0;

        li {
          padding-left: rem(28);
          display: inline-block;

          @media #{$lg} {
            padding-left: rem(21);
          }

          a {
            font-weight: 400;
            font-size: rem(9);
            line-height: rem(13.5);
            color: #93a1ae;
            display: inline-block;

            @media #{$lg} {
              font-size: rem(14);
              line-height: rem(21);
            }
            &:hover {
              color: #5dbdf0;
            }
          }
        }
      }
    }
  }
}
