// helper styles starts here
ul,
ol {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

p {
  @include font-size(16px, 18px);
  margin: 0 0 rem(20);

  &:last-of-type {
    margin: 0;
  }

  &:empty {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 rem(0);
}

a {
  text-decoration: none;

  &:active {
    color: #5dbdf0;
  }

  &:hover,
  &:focus {
    color: #5dbdf0;
  }
}

.l-btn {
  border: 1.25px solid #fff;
  border-radius: rem(30);
  padding: rem(8.75) rem(23.75);
  font-weight: 400;
  font-size: rem(15);
  line-height: rem(19);
  text-align: center;
  letter-spacing: -0.005em;
  outline: none;
  color: #fff;
  display: inline-block;
  transition: all 0.6s ease;
  &:hover {
    background-color: inherit;
  }
  &:focus {
    background-color: inherit;
  }
  &:active {
    background-color: inherit;
  }
  &::selection {
    background-color: transparent;
  }
  i {
    padding-left: rem(10);

    svg {
      width: rem(8.66);
      height: rem(8.66);
      display: inline-block;
    }
  }
  &--light-blue {
    background-color: #5dbdf0;

    &:hover,
    &:focus,
    &:active {
      color: #181c4b !important;

      svg {
        path {
          stroke: #181c4b;
        }
      }
    }
  }

  &--blue {
    border: 1.25px solid #5dbdf0;
    color: #5dbdf0;
  }

  &--dark {
    border: 1.25px solid #181c4b;
    background-color: #181c4b;

    &:hover,
    &:focus,
    &:active {
      background-color: #5dbdf0;
      color: #181c4b !important;
      border-color: #5dbdf0;

      svg {
        path {
          stroke: #181c4b;
        }
      }
    }
  }
}

.l-tag {
  padding: rem(5.19) rem(17.3);
  margin-bottom: rem(19.5);
  background-color: #fff;
  display: inline-block;
  border-radius: rem(15);
  font-weight: 500;
  font-size: rem(11);
  line-height: rem(14);
  letter-spacing: -0.005em;
  color: #181c4b;
  display: inline-block;
  margin-right: rem(9);
}

.l-banner {
  font-weight: 700;
  font-size: rem(16);
  line-height: rem(24);
  color: #181c4b;
  padding-left: rem(15);
  position: relative;

  &::before {
    content: "";
    height: 18px;
    left: 0;
    position: absolute;
    width: 3px;
    background: #181c4b;
    top: 50%;
    transform: translateY(-50%);
    @media #{$lg} {
      top: 50%;
    }
  }
}

.ml-auto {
  margin-left: auto;
}

.mt-100 {
  @media #{$xl} {
    margin-top: rem(100);
  }
}

.mt--100 {
  @media #{$lg} {
    margin-top: rem(-100);
  }
}

#page-wrap {
  overflow-x: hidden;
}

.error {
  background-color: #f9f4f1;
  .gwc.banner--inner {
    background-image: none;
    background-color: #f9f4f1;
    padding-bottom: 0;
    padding-top: rem(94);
    @media #{$lg} {
      padding-top: rem(132);
    }

    .banner__wrap {
      display: block;
      .is--mobile {
        font-size: rem(24);
        line-height: rem(31.2);
        text-align: center;
        font-style: normal;
        font-weight: 500;
        width: 100%;
        font-family: $secondary-font;
        display: block;
        color: #4a5c76;
        margin-bottom: rem(24);
      }
    }

    .banner__details {
      background: #ffffff;
      border-radius: rem(300);
      padding-top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: rem(15) 0;
      margin: rem(110) 0 rem(24);
      margin-left: auto;
      margin-right: auto;
      max-width: 330px;
      @media #{$lg} {
        margin: rem(46) 0 rem(105);
        padding: rem(30) 0 rem(50);
        max-width: 100%;
      }

      h1 {
        font-size: rem(125.77);
        line-height: rem(106.9);
        font-weight: 700;
        font-family: $primary-font;
        position: relative;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #181c4b;
        span {
          font-size: rem(24);
          line-height: rem(31.2);
          text-align: center;
          font-style: normal;
          font-weight: 500;
          width: 100%;
          font-family: $secondary-font;
          display: block;
          color: #4a5c76;
          margin-bottom: rem(24);
          @media #{$lg} {
            position: absolute;
            color: #e7dfd9;
            font-size: rem(40);
            line-height: rem(40);
            -webkit-text-stroke-width: 0;
            left: 50%;
            top: 53%;
            transform: translate(-50%, -50%);
            font-weight: 700;
          }
          @media #{$xl} {
            font-size: rem(72);
            line-height: rem(72);
          }
        }

        @media #{$lg} {
          font-size: rem(300);
          line-height: rem(350);
        }
        @media #{$xl} {
          font-size: rem(500);
          line-height: rem(425);
        }
      }
    }

    .container {
      max-width: rem(1348);
      padding: rem(0) rem(24);
    }
  }

  .error__button {
    text-align: center;
    padding-bottom: rem(152);
    background-color: #f9f4f1;

    @media #{$lg} {
      padding-bottom: rem(90);
    }
    .l-btn {
      min-width: rem(176);
    }
  }
}

.standard-text {
  padding: rem(23) 0 rem(69);
  @media #{$lg} {
    padding: rem(65) 0 rem(85);
  }

  h4 {
    font-size: rem(18);
    line-height: rem(27);
    font-weight: 400;
    color: #000;
    margin-bottom: rem(20);

    @media #{$lg} {
      font-size: rem(32);
      font-family: $secondary-font;
      line-height: rem(38.4);
    }
  }

  p {
    font-size: rem(14);
    line-height: rem(21);
    font-weight: 400;
    color: #000;

    @media #{$lg} {
      font-size: rem(20);
      line-height: rem(30);
    }
    &:last-of-type {
      margin-bottom: rem(20);
    }
  }

  .container {
    max-width: rem(1078);
    padding: rem(0) rem(24);
  }
}
.slick-initialized .slick-slide {
  box-shadow: none;
}

.standard-page {
  .gwc.banner--inner {
    background-position-y: 65px;
    background-image: url("../images/infy-standard-mob.svg");
    @media #{$lg} {
      padding-bottom: rem(183);
      background-image: url("../images/infy-standard.svg");
      background-position-y: rem(0);
    }
    @media screen and (max-width: 768px) {
      padding-top: rem(96);
      padding-bottom: 48px;
      .banner__details {
        padding-top: rem(34);
      }
      br {
        display: none;
      }
    }
  }
  .gwc.banner--inner .banner__details h1 em {
    color: #181c4b;
    font-style: normal;
    @media #{$lg} {
      font-style: italic;
    }
  }
  .standard-text {
    a {
      color: #2196f3;
      &:hover {
        color: #181c4b;
      }
    }
    .table-bordered,
    .table-bordered > tbody > tr > td,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > td,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > thead > tr > th {
      border: 1px solid #999;
    }

    .table-bordered > thead > tr > th {
      font-weight: bold;
      background: #eee;

      text-align: left;
    }
    table {
      border-collapse: collapse;
      margin-bottom: rem(20);
      ul {
        li {
          list-style-type: none;
          padding-left: 0;
        }
      }
    }
    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > td {
      padding: 10px;
      font-size: 14px;
      line-height: 21px;
      @media #{$lg} {
        font-size: 20px;
        line-height: 30px;
      }
    }
    ul {
      margin-bottom: rem(20);
      li {
        font-size: 14px;
        line-height: 21px;
        list-style-type: inherit;
        padding-left: 25px;
        list-style-position: inside;
        @media #{$lg} {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
    ol {
      margin-bottom: rem(20);
      li {
        font-size: 14px;
        line-height: 21px;
        list-style-type: inherit;
        padding-left: 25px;
        list-style-position: inside;
        @media #{$lg} {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
    h1 {
      margin-bottom: 20px;
    }
  }
}
.os-windows {
  .error {
    .gwc.banner--inner {
      h1 {
        top: rem(10);
        @media #{$lg} {
          top: rem(40);
        }
        @media #{$xl} {
          top: rem(53);
        }
        span {
          @media #{$lg} {
            top: 44%;
          }
        }
      }
    }
    .l-banner::before {
      top: 40%;
    }
  }
}
.os-windows .gwc.model .model__wrap .model__title .model__head .model__count p {
  margin-top: 5px;
}

.android .gwc.model .model__wrap .model__title .model__head .model__count p {
  @media screen and (max-width: 767px) {
    top: 2px;
  }
}
@media screen and (min-width: 991px) {
  .os-windows .gwc.model .model__heading h3::before {
    top: 45%;
  }
}
.l-banner::before {
  @media screen and (max-width: 768px) {
    top: 40%;
  }
}
.filter-boxes-wrapper {
  position: relative;
  min-height: rem(126);
}
.loader__wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #181c4b;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  display: none;
}
.gwc.filter .filter__boxes.opacity {
  opacity: 0.5;
}
.no-post-found {
  font-size: rem(20);
  line-height: 1;
  color: #181c4b;
  font-family: $secondary-font;
  text-align: center;
  font-weight: 600;
  padding: 25px 0;
  @media #{$lg} {
    font-size: rem(36);
    padding: 35px 0 55px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.l-caption {
  font-weight: 700 !important;
  font-size: rem(16) !important;
  line-height: rem(24) !important;
  color: #181c4b;
  padding-left: rem(15);
  position: relative;
  border: 0 !important;
  text-align: left !important;
  font-family: $primary-font !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  &::after {
    content: "";
    height: rem(18);
    left: 0;
    position: absolute;
    width: rem(3);
    background: #181c4b;
    top: 50%;
    transform: translateY(-50%);
  }
}
.capital {
  .gwc.banner--inner {
    @media #{$lg} {
      padding-bottom: rem(183);
    }
    .banner__details {
      @media #{$lg} {
        padding-top: rem(122);
      }
    }
  }
  .l-banner {
    display: block;
    &::before {
      @media screen and (max-width: 768px) {
        top: 50%;
      }
    }
  }
  .l-caption {
    display: block;
    &::before {
      @media screen and (max-width: 768px) {
        top: 50%;
      }
    }
  }
}
.os-mac {
  @media #{$lg} {
    .gwc.goal .goal__wrapper .goal__container .goal__slide[data-slide="1"] {
      top: rem(-23);
    }
  }
}
.capital {
  .gwc.grid .grid__boxes .grid__card .gwc.card {
    @media screen and (max-width: 992px) {
      margin-bottom: rem(22);
    }
  }
}
// helper styles ends here
