.gwc.banner.banner--full-width
    .banner__inner
        .banner__wrap
            video(autoplay="autoplay" loop muted playsinline).banner__video  
                source(src="images/gw.mp4" type="video/mp4")
                source(src="images/gw.webm" type="video/webm")
            .container
                .banner__message
                    .banner__details
                        .banner__consumer
                            h2 Consumer Tech 
                                i  Investors 
                        h1 We empower exceptional entrepreneurs everywhere to 
                            i  change the world for good. 