// About hero animated slider starts
.gwc.about-hero {
  .hero__toggle-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media #{$lg} {
      padding-top: rem(149);
    }

    @media #{$lg} {
      flex-direction: row;
      height: rem(545);
      padding-top: 0;
    }

    .hero__toggle-item {
      flex: 1;
      overflow: hidden;
      max-height: rem(60);

      @media #{$md} {
        max-height: rem(60);
      }

      @media #{$lg} {
        height: 100%;
        max-height: none;
        border: 0;
        border-left: 1px solid #707070;
        transition: all 0.1s ease;
      }

      &:first-child {
        border-left: 0;
        border-top: 0;
      }

      &:last-child {
        border-bottom: 1px solid #707070;

        @media #{$lg} {
          border-bottom: 0;
        }
      }

      .toggle__btn {
        height: rem(60);
        transition: opacity 0.4s ease-in-out;

        @media #{$md} {
          height: rem(60);
        }

        @media #{$lg} {
          height: 100%;
        }

        &.hid {
          width: 0;
          overflow: hidden;
        }

        .toggle__btn-wrap {
          height: 100%;
          display: flex;
          padding: rem(5) rem(33) rem(5) rem(20);
          cursor: pointer;
          align-items: center;
          justify-content: space-between;

          @media #{$lg} {
            flex-direction: column-reverse;
            padding: rem(21) rem(0);
          }

          .item__btn-no {
            line-height: rem(22);
            font-size: rem(18);
          }

          .item__btn-title {
            font-weight: 700;
            font-size: rem(24);
            line-height: rem(31.2);
            color: #181c4b;
            font-family: $secondary-font;

            white-space: nowrap;

            @media #{$lg} {
              writing-mode: vertical-rl;
              transform: rotate(180deg);
              font-size: rem(36);
              line-height: rem(40);
            }
          }
        }
      }

      .toggle__pane {
        height: 100%;
        overflow: hidden;

        .toggle__pane-wrap {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          height: 100%;
          padding: rem(36) rem(20);
          width: 0;
          overflow: hidden;
          min-width: 100%;

          @media #{$md} {
          }

          @media #{$lg} {
            min-width: 65vw;
            padding: 0 3% 0 8%;
          }

          .hero__top-copy {
            margin-bottom: rem(56);

            @media #{$md} {
              margin-bottom: rem(78);
              padding-left: 12%;
            }

            @media #{$lg} {
              margin-bottom: rem(112);
            }

            @media #{$xl} {
              margin-bottom: rem(213);
            }

            p {
              line-height: rem(22);
              font-size: rem(16);
              max-width: rem(280);

              @media #{$lg} {
                font-size: 1.33333vw;
                line-height: 1.401;
                max-width: 23.733333333333334vw;
              }

              @media #{$xl} {
                max-width: 21.53333333333333vw;
              }
            }
          }

          .hero__title {
            position: relative;

            @media #{$md} {
              padding-left: 12%;
            }

            .item__no {
              font-size: rem(16);
              line-height: rem(42);
              font-style: italic;
              font-weight: bold;

              @media #{$md} {
                position: absolute;
                left: 0;
                top: rem(0);
                font-size: rem(21);
                line-height: rem(35);
              }

              @media #{$lg} {
                font-size: 1.666666vw;
                line-height: 1.2;
              }
            }
          }
        }
      }

      &.active {
        flex: 0 0 100%;
        max-height: rem(900);
        transition: all 0.6s ease;

        @media #{$lg} {
          flex: 0 0 72%;
        }

        .toggle__btn {
          opacity: 0;
          height: 0;
        }

        .toggle__pane {
          width: 100%;
        }
      }

      &:not(:first-child) {
        &:not(.active) {
          &:hover {
            flex: 1.1;
          }
        }
      }

      &:nth-last-child(1) {
        border-right: 1px solid #707070;
      }

      &:nth-last-child(2) {
        .hero__title {
          p span {
            margin: 0 !important;
          }
        }
      }
    }

    &.is-animating {
      .hero__toggle-item {
        @media #{$lg} {
          transition: all 0.6s ease;
        }
      }
    }
  }

  .toggle__wrap {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    @media #{$lg} {
      flex-direction: row;
      height: 100%;
    }

    .toggle__thumb {
      img {
        height: rem(304);
        object-fit: cover;
        display: block;
        width: 100%;

        @media #{$sm} {
          height: rem(400);
        }

        @media #{$md} {
          height: rem(500);
        }

        @media #{$lg} {
          height: 100%;
        }
      }

      @media #{$lg} {
        max-width: rem(386);
        width: rem(386);
      }
    }

    .toggle__content {
      padding: rem(28) rem(24) rem(21);

      @media #{$lg} {
        padding: rem(72) rem(31) rem(0) rem(34);
      }
      @media #{$xxl} {
        max-width: 61%;
      }
    }

    .toggle__head {
      text-align: right;

      padding-top: rem(0);

      @media #{$lg} {
        padding-top: rem(44);
        border-top: 1px solid #181c4b;
      }

      @media #{$xl} {
        padding-top: rem(64);
        border-top: 1px solid #181c4b;
      }

      display: flex;
      flex-direction: column;

      &--heading {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #181c4b;
        order: 1;
        padding-bottom: rem(27);
        margin-bottom: rem(30);

        @media #{$lg} {
          order: unset;
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }

      span {
        display: inline-block;
        font-weight: 400;
        font-size: rem(18);
        line-height: rem(22);
        text-align: center;
        text-transform: uppercase;
        padding: rem(6) rem(8);
        border-radius: 100%;
        color: #181c4b;
        background-color: #fff;

        @media #{$lg} {
          position: absolute;
          right: rem(30);
          top: rem(15);
        }
      }
    }

    h2 {
      font-weight: 700;
      font-size: rem(64);
      line-height: rem(57.6);
      padding: 0;
      border: 0;
      font-family: $primary-font;
      margin-bottom: rem(8);
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #000;
      text-align: left;
      order: 2;

      @media #{$lg} {
        font-size: rem(60);
        line-height: rem(52);
        order: unset;
        margin-bottom: 0;
      }

      @media #{$xl} {
        font-size: rem(80);
        line-height: rem(72);
        order: unset;
      }
    }

    h3 {
      font-weight: 400;
      font-size: rem(36);
      line-height: rem(43.2);
      margin-bottom: rem(8);
      color: #181c4b;
      font-family: $secondary-font;
      text-align: left;

      order: 3;

      @media #{$lg} {
        font-size: rem(45);
        line-height: rem(42);
        margin-bottom: rem(100);
        order: unset;
      }

      @media #{$xl} {
        margin-bottom: rem(80);
        font-size: rem(80);
        line-height: rem(77);
        order: unset;
      }

      @media screen and(min-width:1400px) {
        font-size: rem(86);
      }
    }

    h4 {
      font-weight: 700;
      font-size: rem(24);
      line-height: rem(31.2);
      text-align: left;
      color: #181c4b;
      font-family: $secondary-font;

      @media #{$lg} {
        font-size: rem(36);
        line-height: rem(40);
        padding-bottom: rem(11);
      }
    }
  }
}
// About hero animated slider ends
