.gwc.grid 
    .container
        h2.l-caption Capital by the Numbers
        .grid__boxes 
            .grid__col.mt-100
                .grid__card.large.grid__card--max-width
                    -var cardHead = false
                    -var cardCount = "345M"
                    -var cardFooter = "Monthly Active Users*"
                    -var cardPara = ""
                    include ../box/box.pug
            .grid__col 
                .grid__card
                    -var cardCount = "16"
                    -var cardFooter = "Companies"
                    -var cardPara = false
                    include ../box/box.pug
                .grid__card
                    -var cardCount = "70"
                    -var cardFooter = "Companies"
                    -var cardPara = false
                    include ../box/box.pug
            .grid__col.mt-100
                .grid__card
                    -var cardCount = "$157B"
                    -var cardFooter = "Annual Transaction Volume*"
                    -var cardPara = ""
                    include ../box/box.pug
