//investment component styles starts here
.gwc.investment {
  background-image: url("../images/investment-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: rem(80) 0 rem(56);
  @media #{$lg} {
    background-image: url("../images/investment.svg");
    padding: rem(86) 0 rem(179);
    background-position-y: 169%;
    background-position-x: right;
  }
  .investment__head {
    margin-bottom: rem(33);
    display: inline-block;
    position: relative;

    h2 {
      font-weight: 400;
      font-size: rem(47.5);
      line-height: rem(43);
      color: #4a5c76;
      font-family: $secondary-font;

      @media #{$lg} {
        font-size: rem(110);
        line-height: rem(110);
      }

      i {
        font-style: unset;

        @media #{$lg} {
          font-style: italic;
        }
      }

      > span {
        display: inline-block;
        opacity: 0.5;

        @media #{$lg} {
          display: block;
        }

        &.aos-animate {
          opacity: 1;
        }
      }

      .slick-slide {
        opacity: 0.5;

        &.slick-current {
          opacity: 1;
        }
      }

      .inactive {
        opacity: 0.5;

        span {
          display: inline-block;

          &:last-child {
            @media #{$lg} {
              display: block;
            }
          }
        }
      }

      .italic {
        font-style: italic;
      }
    }

    .investment__value {
      display: inline-block;
      .investment__count {
        width: rem(23);
        height: rem(23);
        background-color: transparent;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        position: relative;
        border: 1px solid #4a5c76;
        cursor: pointer;
        top: rem(-10);
        overflow: hidden;

        @media #{$lg} {
          width: rem(36);
          height: rem(36);
          top: rem(-67);
          left: rem(-62);
        }

        p {
          font-weight: 400;
          font-size: rem(12);
          line-height: rem(15);
          text-align: center;
          color: #4a5c76;
          font-family: $secondary-font;

          @media #{$lg} {
            font-size: rem(18);
            line-height: rem(22);
          }
        }
        &.open {
          overflow: visible;
        }
      }

      .investment__count-inner {
        width: rem(23);
        height: rem(23);
        background-color: transparent;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        position: relative;
        border: 1px solid #fff;
        margin-bottom: rem(25);

        @media #{$lg} {
          width: rem(36);
          height: rem(36);
          margin-bottom: rem(35);
        }

        p {
          font-weight: 400;
          font-size: rem(12);
          line-height: rem(15);
          text-align: center;
          color: #fff;
          margin-bottom: 0 !important;
          text-transform: none !important;

          @media #{$lg} {
            font-size: rem(18);
            line-height: rem(22);
          }
        }
      }

      .investment__seek {
        background-color: #4a5c76;
        border-radius: 20%;
        padding: rem(20);
        text-align: center;
        position: absolute;
        z-index: 99;
        opacity: 0;
        top: rem(0);
        width: rem(300);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media #{$lg} {
          width: rem(434);
          padding: rem(21) rem(37) rem(48);
          top: rem(-22);
          border-radius: 100%;
        }
        @media screen and(max-width:992px) {
          border-radius: 100%;
          width: rem(321);
          height: rem(314);
          right: rem(-116);
          top: rem(-32);
        }
        @media #{$xxxl} {
          right: auto;
        }

        h3 {
          margin-bottom: rem(11);
          font-weight: 400;
          font-size: rem(23);
          line-height: rem(26);
          color: #5dbdf0;
          font-family: $secondary-font;

          @media #{$lg} {
            font-size: rem(42);
            line-height: rem(46);
          }
        }

        p {
          font-weight: 400;
          font-size: rem(16);
          line-height: rem(24);
          color: #ffffff;
          font-family: $primary-font;
          margin-bottom: rem(18);

          @media #{$lg} {
            margin-bottom: rem(18);
            font-weight: 400;
            font-size: rem(23.8);
            line-height: rem(29);
          }
        }

        .investment__footer {
          max-width: rem(220);
          text-align: center;
          margin: 0 auto;

          position: relative;

          &::before {
            content: "";
            display: block;
            width: 100%;
            max-width: rem(246);
            height: rem(1);
            background-color: #fff;
            margin: 0 auto;
            margin-bottom: rem(25);
            font-size: 0;
          }

          p {
            font-size: rem(16);
            line-height: rem(20);
            text-transform: uppercase;
            margin-bottom: 0;
            @media #{$lg} {
              font-size: rem(20);
              line-height: rem(25);
            }
          }
        }

        .line {
          max-width: rem(246);
          height: rem(1);
          background-color: #fff;
          margin: 0 auto;
          margin-bottom: rem(25);
          font-size: 0;
        }

        &.show {
          opacity: 1;

          .investment__count-close {
            z-index: 99;
          }
        }
      }

      .investment__count-close {
        z-index: -1;
        background-color: transparent;
        border: 0;
        color: white;
        position: relative;
        left: rem(0);
        top: rem(0);
        font-size: 0;
        cursor: pointer;
      }
    }
  }

  .investment__content {
    position: relative;

    max-width: rem(820);

    @media #{$lg} {
      margin: 0 auto;
    }

    p {
      font-weight: 400;
      font-size: rem(16);
      line-height: rem(24);
      color: #181c4b;

      @media #{$lg} {
        font-size: rem(24);
        line-height: rem(31);
        padding-left: rem(125);
      }

      > span {
        opacity: 0.5;

        &.aos-animate {
          opacity: 1;
        }
      }

      a {
        color: #181c4b;
        text-decoration: underline;
      }
    }

    .dots {
      background: #5dbdf0;
      width: rem(16);
      height: rem(16);
      border-radius: 100%;
      display: inline-block;
      margin-right: rem(9);
    }

    .has__dot {
      margin-right: rem(1);

      &::before {
        content: "";
        background: #5dbdf0;
        width: rem(16);
        height: rem(16);
        border-radius: 100%;
        display: inline-block;
        margin-right: rem(7);
      }
    }

    .slick-slide {
      opacity: 0.5;

      &.slick-current {
        opacity: 1;
      }
    }

    .investment__loop {
      position: absolute;
      left: 0;

      svg .is-active {
        fill: #5dbdf0;
      }
    }
  }
}
//investment component styles ends here
