// variables
$primary-color: #181c4b;
$secondary-color: #fff;
$lake: #5dbdf0;
$legacy: #4a5c76;
$primary-font: "Untitled Sans";
$secondary-font: "Untitled Serif";

html,
body {
  font-family: "Open Sans";
  font-size: 16px;
  padding: 0;
  margin: 0;
}

body {
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: $primary-font;

  &.is-loaded {
    display: block;
  }

  &.is-navopen {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.breaker {
  height: rem(1);
  background-color: #5dbdf0;
  width: 100%;
  max-width: rem(626);
  margin: 0 auto;
  font-size: 0;
}

.is--mobile {
  @media #{$lg} {
    display: none !important;
  }
}

.is--desktop {
  display: none !important;

  @media #{$lg} {
    display: block !important;
  }
}

.bg--lawn {
  background-color: #72cc7d !important;
}

.bg--gold {
  background-color: #ffd05b;
}

.bg--lake {
  background-color: #5dbdf0;
}

.bg--sky {
  background-color: #b9e9f9;
}

.bg--violet {
  background-color: #9599ff !important;
}

.bg--paper {
  background-color: #e7dfd9;
}
