// form styles starts here
.l-checkbox {
  display: block;
  position: relative;
  padding-left: rem(24);
  margin-bottom: rem(18);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400;
  font-size: rem(15);
  line-height: rem(19);
  letter-spacing: -0.005em;
  color: #181c4b;
}

.l-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.l-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: rem(16);
  width: rem(16);
  background-color: transparent;
  border: 1.5px solid #4a5c76;
  border-radius: 3px;
}

.l-checkbox:hover input ~ .l-checkmark {
  background-color: #ccc;
}

.l-checkbox input:checked ~ .l-checkmark {
  background-color: #2196f3;
  border-color: #5dbdf0;
}

.l-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.l-checkbox input:checked ~ .l-checkmark:after {
  display: block;
}

.l-checkbox .l-checkmark:after {
  background-image: url("../images/filter-ok.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: rem(12);
  width: rem(9);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
//form styles ends here
