//header styles starts here
.gwc.header {
  background: $primary-color;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;

  .header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(19) 0;

    @media #{$lg} {
      padding: rem(27) 0 rem(30);
    }
  }

  .header__brand {
    max-height: rem(22.32);
    margin-right: 10%;

    @media #{$lg} {
      max-height: rem(38.86);
    }

    @media #{$xl} {
      margin-right: 15.9%;
    }

    .header__brand-inner {
      .header__logo {
        display: inline-block;
        max-width: rem(139);

        @media #{$lg} {
          width: rem(242);
          max-height: rem(38.86);
          max-width: 100%;
        }
        img {
          width: 100%;
          &.is--light {
            display: none;
          }
        }
      }
      @media screen and(max-width:992px) {
        transform: none !important;
      }
    }
  }
  .header__burger {
    border: 0;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    outline: 0;
    span {
      background-color: #fff;
      width: rem(24);
      height: rem(2);
      display: block;
      margin: rem(4) 0;
      font-size: 0;

      &:first-child {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }

      &:nth-last-child(2) {
        transition: transform 0.2s ease-in-out;
      }

      &:last-child {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
      }
    }

    @media #{$lg} {
      display: none;
    }
  }

  .header__nav {
    background-color: #fff;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    transition: all 0.3s;
    z-index: 98;
    padding: rem(6) rem(24) rem(40);
    height: calc(100vh - 48px);
    overflow-y: scroll;

    @media #{$lg} {
      background: $primary-color;
    }

    .is-navopen & {
      display: flex;
      flex-direction: column;
    }

    @media #{$lg} {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // flex-grow: 1;
      position: static;
      padding: 0;
      height: auto;
      overflow: hidden;
    }

    ul {
      padding-left: 0;
      margin: 0;
      margin-bottom: rem(90);

      @media #{$lg} {
        margin-bottom: 0;
      }

      li {
        list-style: none;
        border-bottom: 1px solid #4a5c76;
        padding: rem(19) 0 rem(23);

        @media #{$lg} {
          border: 0;
          display: inline-block;
          margin: 0;
          margin-left: rem(28);
          padding: 0;
        }

        @media #{$xxl} {
          margin-left: rem(56);
          margin-top: rem(7);
        }

        a {
          @include font-size(48px, 43px);
          font-weight: 400;
          display: block;
          color: #181c4b;
          cursor: pointer;
          text-decoration: none;
          font-family: $secondary-font;

          @media #{$lg} {
            @include font-size(16px, 18px);
            color: #fff;
            font-family: $primary-font;
            font-weight: 500;
          }

          &:hover {
            color: #5dbdf0;
          }
        }

        &.active {
          border-bottom: 1px solid #5dbdf0;

          @media #{$lg} {
            border: 0;
          }

          a {
            color: #5dbdf0 !important;
            // font-weight: 600;
          }
        }
      }
    }

    .l-btn {
      width: 100%;
      background: #5dbdf0;
      color: #fff;

      &:hover,
      &:focus {
        color: #181c4b !important;
      }

      @media #{$lg} {
        background-color: transparent;
        width: auto;

        &:hover,
        &:focus {
          color: #181c4b !important;
          background-color: #fff;
          border-color: #fff;
        }
      }
    }

    .header__bottom {
      margin-top: rem(27);
      display: flex;
      flex-wrap: wrap;

      .header__col {
        width: 50%;
        flex: 0 0 50%;

        &:nth-child(2) {
          padding-left: rem(15);
        }

        .header__contact {
          margin-bottom: rem(20);
        }

        .header__careers {
          margin-bottom: rem(10);
        }

        ul {
          margin-bottom: 0;

          li {
            padding: 0;
            border: 0;
          }
        }

        h3 {
          font-weight: 400;
          font-size: rem(14);
          line-height: rem(20);
          letter-spacing: -0.5px;
          color: #5dbdf0;
        }

        a,
        p {
          font-weight: 400;
          font-size: rem(14);
          line-height: rem(20);
          letter-spacing: -0.5px;
          color: $primary-color;
          font-family: $primary-font;
        }
      }

      .header__social {
        text-align: center;
        width: 100%;
        margin-top: rem(37);

        ul {
          margin-bottom: 0;

          li {
            display: inline-block;
            border: 0;
            margin: 0 rem(10);
            padding: 0;

            a {
              width: rem(25);
              height: rem(25);
              display: block;
              font-size: unset;
              line-height: unset;
            }
          }
        }
      }
    }
  }

  .is-navopen & {
    .header__burger {
      span {
        &:first-child {
          transform: rotate(45deg) translateY(-3px);
        }

        &:nth-last-child(2) {
          transform: scaleY(0);
        }

        &:last-child {
          transform: rotate(-45deg) translateY(3px);
        }
      }
    }
  }
}

.inner-page {
  @media #{$lg} {
    .gwc.header {
      background-color: #f9f4f1;
      border-bottom: 1px solid #181c4b;

      .header__nav {
        background-color: #f9f4f1;

        ul {
          li {
            a {
              color: #181c4b;
              &:hover {
                color: #5dbdf0;
              }
            }
          }
        }
      }

      .header__brand {
        .header__brand-inner {
          .header__logo {
            img {
              &.is--light {
                display: inline-block;
              }

              &.is--blue {
                display: none;
              }
            }
          }
        }
      }

      .l-btn {
        border-color: #181c4b;
        color: #181c4b;

        svg {
          path {
            stroke: #181c4b;
          }
        }

        &:hover {
          background-color: #fff;
          color: #181c4b;
        }
      }
    }
  }
}

.home {
  .gwc.header {
    .l-btn {
      svg {
        path {
          stroke: #fff;
        }
      }

      &:hover {
        svg {
          path {
            stroke: #181c4b;
          }
        }
      }
    }
  }
}

body.animation-played {
  .gwc.brand {
    display: none;
  }
}
.header-animated .header__brand-inner {
  transform: none !important;
}
//header styles ends here
