// card styles starts here
.gwc.card {
  padding: rem(24) rem(39) rem(30);
  background-color: #fff;
  text-align: center;
  border-radius: rem(20);
  margin-bottom: rem(16);
  width: 100%;
  @media #{$lg} {
    width: auto;
    margin: 0 20px;
    padding: rem(24) rem(39);
  }
  @media #{$lg} {
    margin-bottom: 0;
  }

  h2 {
    font-weight: 700;
    font-size: rem(80);
    line-height: rem(68);
    color: #181c4b;
    margin-bottom: rem(20);
    white-space: nowrap;

    @media #{$lg} {
      font-size: rem(96);
      line-height: rem(82);
      margin-bottom: rem(25);
    }
  }

  h3 {
    font-weight: 400;
    font-size: rem(20);
    line-height: rem(30);
    color: #4a5c76;
    margin-bottom: rem(35);
    @media #{$lg} {
      margin-bottom: rem(41);
    }
  }

  h4 {
    font-weight: 700;
    font-size: rem(28);
    line-height: rem(31);
    color: #5dbdf0;
    font-family: $secondary-font;

    @media #{$lg} {
      font-size: rem(32);
      line-height: rem(35);
    }
  }

  P {
    font-weight: 400;
    font-size: rem(14);
    line-height: rem(21);
    color: #4a5c76;
  }
  @media #{$lg} {
    margin-bottom: rem(34);
  }
}
// card styles ends here
