extend ../pagelayout/home
block variables
	-var active = 'About'
	-var bodyClass = 'inner-page about'
block story
	-var innerBanner = "About Us"
	-var innerbannerHead1 = "We aren’t your "
	-var innerbannerHead2 = " typical "
	-var innerbannerHead3 = "investment firm."
	-var counter = true
	include ../components/banner/banner--about.pug
	-var consumerHead = ""
	-var consumerContent1 = ""
	-var consumerContent2 = "From day one, we’ve believed in the power of consumer technology to measurably improve billions of lives across the globe.  "
	-var consumerContent3 = "From housing to healthcare, food delivery to finances, education to entertainment and transportation, we're investing in the world’s most promising entrepreneurs to solve the world’s most pressing problems."
	include ../components/consumer/consumer--about.pug
	include ../components/goal/goal.pug
	include ../components/grid/grid--about.pug
	include ../components/manifesto/manifesto--about.pug
	include ../components/invest/invest--about.pug
	include ../components/accordion/accordion.pug
	include ../components/reach/reach--about.pug
	include ../components/panel/panel.pug
	include ../components/opportunities/opportunities--about.pug