extend ../pagelayout/home
block variables
	-var active = 'Capital'
	-var bodyClass = 'inner-page capital'
block story
	-var innerBanner = "Goodwater Capital"
	-var innerbannerHead1 = "We "
	-var innerbannerHead2 = "invest"
	-var innerbannerHead3 = " in consumer technology startups."
	-var counter = true
	include ../components/banner/banner--inner.pug
	-var consumerHead = "We have spent more than "
	-var consumerContent1 = "40 years "
	-var consumerContent2 = "investing in leading consumer technology companies across the globe."
	-var consumerContent3 = "From housing to healthcare, food delivery to financial services, education to entertainment and more, we're investing in the world’s most promising entrepreneurs to solve the world’s most pressing problems. As a combined force, Goodwater companies are a global force for change, poised to measurably improve billions of lives."
	include ../components/consumer/consumer--capital.pug
	include ../components/reach/reach--capital.pug
	include ../components/approach/approach--capital.pug
	include ../components/manifesto/manifesto--capital.pug
	include ../components/grid/grid.pug
	include ../components/invest/invest.pug
	include ../components/slider-capital/slider-capital.pug
	