extend ../pagelayout/home
block variables
	-var active = 'Collective'
	-var bodyClass = 'inner-page collective'
block story
	-var innerBanner = "Goodwater Collective"
	-var innerbannerHead1 = "Reinvesting profits to"
	-var innerbannerHead2 = " serve communities "
	-var innerbannerHead3 = "in need."
	-var counter = true
	include ../components/banner/banner--collective.pug
	-var consumerHead = ""
	-var consumerContent1 = ""
	-var consumerContent2 = "Goodwater Collective is a critical element of our closed-loop investment model. It allows us to reinvest profits back into portfolio companies, helping them serve communities in need."
	-var consumerContent3 = "Goodwater companies are all solving pressing consumer problems and delivering higher quality access to food, financial services, housing, health care, transportation, education, and entertainment. The Goodwater Collective broadens the power of their impact, improving access for those most in need. Our goal is for far more people to benefit from the great services that Goodwater companies deliver."
	include ../components/consumer/consumer--collective.pug
	include ../components/manifesto/manifesto--collective.pug
	include ../components/accordion/accordion.pug
