extend ../pagelayout/home
block variables
	-var active = 'Genesis'
	-var bodyClass = 'inner-page genesis'
block story
	-var innerBanner = "Goodwater Genesis"
	-var innerbannerHead1 = "Building the world’s best consumer-tech "
	-var innerbannerHead2 = "seed-stage"
	-var innerbannerHead3 = " ecosystem."
	-var counter = false 
	include ../components/banner/banner--genesis.pug
	-var consumerHead = "Genesis is our seed program that democratizes access to seed funding and entrepreneurial guidance. "
	-var consumerContent1 = false
	-var consumerContent2 = false
	-var consumerContent3 = "We provide entrepreneurs around the world with unprecedented access to community, resources, consumer tech insights, and capital."
	include ../components/consumer/consumer--genesis.pug
	include ../components/reach/reach--genesis.pug
	include ../components/accordion/accordion--genesis.pug
	include ../components/grid/grid--genesis.pug
	include ../components/manifesto/manifesto--genesis.pug
	include ../components/approach/approach--genesis.pug
	include ../components/opportunities/opportunities--genesis.pug
	