extend ../pagelayout/home
block variables
	-var active = 'Home'
	-var bodyClass = 'home'
block story
	include ../components/brand/brand.pug
	include ../components/banner/banner--full-width.pug
	include ../components/healthcare/healthcare.pug
	include ../components/investment/investment.pug
	include ../components/model/model.pug
	include ../components/meet/meet.pug
	include ../components/impact/impact.pug




