.gwc.opportunities.opportunities--genesis
    .container
        h2 Be a part of a 
            em growing community of entrepreneurs.
        p As a company matures, we help founders prepare for Series A and are able to lead investment rounds, propelling the business toward scale and success. 
            em Want to be part of it?
        .opportunities__btn
             a(href="#" title="panel").l-btn.l-btn--dark Get in Touch
                i 
                    svg(width='11' height='11' viewbox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M1.21047 1.17139H9.41407M9.41407 1.17139L9.17486 9.3715M9.41407 1.17139L0.500392 9.82837' stroke='white' stroke-width='1.25')
                