footer.gwc.footer
    .container.container--lg
        .footer__brand
            .footer__logo
                a(href="#0" title="Logo")
                    img(src="images/logo.svg", alt="Logo")
            .footer__text
                h2 Consumer Tech 
                    i Investors 
                ul.is--mobile 
                    li 
                        a(href="#" title="Social-media") 
                            img(src="images/facebook.svg", alt="Face book")
                    li 
                        a(href="#" title="Social-media") 
                            img(src="images/twitter.svg", alt="Twitter")
                    li 
                        a(href="#" title="Social-media") 
                            img(src="images/linkedin.svg", alt="Linkedin")
                    li 
                        a(href="#" title="Social-media") 
                            img(src="images/instagram.svg", alt="Instagram") 
        .footer__nav.is--desktop
            .footer__col
                .footer__subcol 
                    a(href="#" title="Button").l-btn.l-btn--blue Login
                        i 
                            svg(width='11' height='11' viewbox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M1.21047 1.17139H9.41407M9.41407 1.17139L9.17486 9.3715M9.41407 1.17139L0.500392 9.82837' stroke='white' stroke-width='1.25')
                    
                    .footer__contact 
                        h3 Contact Us
                        ul  
                            li 
                                p 240 Lorton Ave, 
                            li 
                                p Third Floor
                            li
                                p Burlingame, CA 94010
                            li 
                                a(href="mailto:info@goodwatercap.com" title="mail") 
                .footer__subcol
                    .footer__careers 
                        h3 Career Opportunities
                        ul 
                            li 
                                p Jobs at Goodwater 
                            li 
                                p Jobs at Our Portfolio Companies
                    .footer__resources
                        h3 Resources
                        ul 

                            li 
                                p Thesis
                    .footer__social 
                        h3 Follow Us
                        ul 
                            li 
                                a(href="#" title="Social-media") 
                                    img(src="images/facebook.svg", alt="Face book")
                            li 
                                a(href="#" title="Social-media") 
                                    img(src="images/twitter.svg", alt="Twitter")
                            li 
                                a(href="#" title="Social-media") 
                                    img(src="images/linkedin.svg", alt="Linkedin")
                            li 
                                a(href="#" title="Social-media") 
                                    img(src="images/instagram.svg", alt="Instagram")     
            .footer__col
                .footer__thumb 
                    img(src="images/Line-icon.svg", alt="Infinity Icon")
        .footer__bottom 
            .footer__copyright 
                p &copy; 2022 Goodwater 
            .footer__menu 
                ul 
                    li 
                        a(href="#" title="menu") Terms of Use
                    li 
                        a(href="#" title="menu") Privacy Policy
                    li 
                        a(href="#" title="menu") Legal