.gwc.approach.approach--captal
    .approach__wrap
        .approach__slider 
            .approach__slide 
                .approach__tab.bg--gold 
                    span 01
                    h2 Seek out promising consumer tech companies
                    p We don’t hear thousands of pitches per year. We find and invest in just a handful of great companies.
            .approach__slide 
                .approach__tab.bg--gold 
                    span 02
                    h2 Make $5M to $50M investments
                    p We support companies from Series A to IPO.
            .approach__slide 
                .approach__tab.bg--gold 
                    span 03
                    h2 Provide software, data, services, and support
                    p We provide entrepreneurs with detailed data, concierge services, start-up curriculum, and strategic advice.
            .approach__slide 
                .approach__tab.bg--gold 
                    span 04
                    h2 Make capital investments
                    h3 We specialize 100% in consumer tech. And nothing else.
                    p That singular focus means we know more about your business, your competition, and the pathways to success than any other investor.
            .approach__slide 
                .approach__tab.bg--gold 
                    span 05
                    h3 Reinvest wisdom and resources
                    p We don’t hear thousands of pitches per year. We find and invest in just a handful of great companies.
        .approach__nav 
            .approach__slider-arrow
                button.approach__arrow.approach__arrow--prev(type=button role="button" aria-lebel="Previous")
                    svg(width='15' height='14' viewbox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.41142 1.32353L13.2122 7.12435M13.2122 7.12435L7.24474 12.7536M13.2122 7.12435L0.787908 6.94284' stroke='white' stroke-width='1.25')
                button.approach__arrow.approach__arrow--next(type=button role="button" aria-lebel="Next")
                    svg(width='15' height='14' viewbox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.41142 1.32353L13.2122 7.12435M13.2122 7.12435L7.24474 12.7536M13.2122 7.12435L0.787908 6.94284' stroke='white' stroke-width='1.25')