// Approach slider starts here
.gwc.approach {
  padding: rem(0) 0 rem(40);
  @media #{$lg} {
    padding: rem(0) 0 rem(187);
  }
  h2 {
    font-size: rem(48);
    line-height: rem(43.22);
    color: #181c4b;
    margin-bottom: rem(34);
    font-weight: 400;
    font-family: $secondary-font;
    text-align: left;
    padding-bottom: rem(28);
    border-bottom: 4px solid #181c4b;

    @media #{$lg} {
      font-size: rem(86);
      line-height: rem(77);
      margin-bottom: rem(51);
      text-align: center;
      padding-bottom: rem(36);
    }
    span {
      font-style: italic;
    }
  }
  h4 {
    font-weight: 400;
    font-size: rem(24);
    line-height: rem(31.2);
    color: #181c4b;
    font-family: $secondary-font;
    max-width: rem(799);
    margin-bottom: rem(28);

    @media #{$lg} {
      margin: 0 auto;
      text-align: center;
      font-size: rem(32);
      line-height: rem(38);
      margin-bottom: rem(25);
    }
  }

  p {
    font-weight: 400;
    font-size: rem(16);
    line-height: rem(24);
    color: #4a5c76;
    max-width: rem(524);
    margin-bottom: rem(44);
    @media #{$lg} {
      margin: 0 auto;
      font-size: rem(20);
      line-height: rem(30);
      text-align: center;
      margin-bottom: rem(69);
    }
  }
  .approach__wrap {
    position: relative;

    &::after {
      @media #{$xl} {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          #ffffff 100%
        );
        bottom: 0;
        width: 197px;
        height: 100%;
        margin: rem(-20) 0;
      }
    }

    &::before {
      @media #{$xl} {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        width: 197px;
        height: 100%;
        background: linear-gradient(
          90deg,
          #ffffff 0%,
          rgba(255, 255, 255, 0) 100%
        );
        margin: rem(-20) 0;
      }
    }
  }
  .approach__slider {
    padding-bottom: rem(18);
    @media #{$xl} {
      padding-bottom: rem(0);
    }
    .slick-track {
      .approach__slide {
        box-shadow: none;
        outline: none;
        &.slick-active {
          &.slick-current {
            .bg--gold {
              background-color: #ffd05b !important;
              border-color: #ffd05b !important;
            }

            .bg--lawn {
              background-color: #72cc7d !important;
              border-color: #72cc7d !important;
            }

            .bg--lake {
              background-color: #5dbdf0 !important;
              border-color: #5dbdf0 !important;
            }

            .bg--sky {
              background-color: #b9e9f9 !important;
              border-color: #b9e9f9 !important;
            }

            .bg--violet {
              background-color: #9599ff !important;
              border-color: #9599ff !important;
            }
          }
        }
      }
    }
    .approach__tab {
      padding: rem(32) rem(30) rem(31) rem(30);
      position: relative;
      border-radius: rem(20);
      margin: 0 rem(24);
      margin-top: rem(12);
      background-color: #fff !important;
      border: 1px solid #b2aba5;
      transition: all 0.6s ease;
      @media #{$xl} {
        max-width: rem(320);
        margin: 0 rem(10);
      }
      span {
        position: absolute;
        font-weight: 400;
        font-size: rem(18);
        line-height: rem(22);
        text-align: center;
        text-transform: uppercase;
        top: rem(-18);
        background-color: #b2aba5;
        border-radius: 100%;
        color: #fff;
        width: rem(36);
        height: rem(36);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      h2 {
        font-weight: 700;
        font-size: rem(32);
        line-height: rem(35);
        color: #b2aba5;
        padding-bottom: rem(10);
        border-bottom: 1px solid #b2aba5;
        margin-bottom: rem(0);
        font-family: $secondary-font;
        text-align: left;

        @media (min-width: 767px) {
          max-width: rem(300);
        }
      }

      h3 {
        font-weight: 400;
        font-size: rem(24);
        line-height: rem(31);
        color: #b2aba5;
        margin-bottom: rem(32);
        font-family: $secondary-font;
        margin-top: rem(26);

        @media (min-width: 767px) {
          max-width: rem(300);
        }
      }

      p {
        font-weight: 400;
        font-size: rem(13);
        line-height: rem(16.51);
        color: #b2aba5;
        letter-spacing: -0.005em;
        text-align: left;
        margin-bottom: 0;

        @media (min-width: 767px) {
          max-width: rem(300);
        }
      }
    }

    .slick-current {
      .approach__tab {
        background-color: #ffd05b;
        border-color: #ffd05b;

        h2,
        h3,
        p {
          color: #181c4b;
        }
        h2 {
          border-color: #181c4b;
        }

        span {
          background-color: #181c4b;
        }
      }
    }
  }

  .approach__nav {
    text-align: center;

    .approach__slider-arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    button {
      background-color: #181c4b;
      border-radius: rem(55);
      width: rem(50);
      height: rem(35);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 0;
      outline: 0;
      cursor: pointer;
      border: 1.5px solid #181c4b;
      z-index: 9;
      margin: 0 5px;
      @media #{$xl} {
        position: absolute;
        right: rem(75);
        top: 40%;
        transform: translateY(-50%);
      }

      &:hover {
        background-color: #5dbdf0;
        border-color: #fff;

        svg {
          path {
            stroke: #181c4b;
          }
        }
      }

      &.approach__arrow--prev {
        transform: rotate(-180deg);
        background-color: transparent;
        @media #{$xl} {
          top: 36%;
        }

        svg {
          path {
            stroke: #181c4b;
          }
        }

        @media #{$xl} {
          right: auto;
          left: rem(75);
        }

        &:hover {
          background-color: #181c4b;

          svg {
            path {
              stroke: #fff;
            }
          }
        }
      }
    }
  }
  &--captal {
    padding: rem(0) 0 rem(59);
    @media #{$lg} {
      padding: rem(54) 0 rem(65);
    }
    .approach__slider {
      .slick-track {
        display: flex !important;
        @media #{$xl} {
          margin-left: -31.7%;
        }
        .slick-slide {
          height: inherit !important;
          .approach__tab {
            height: 100% !important;
            padding: rem(44) rem(27) rem(33) rem(32);
            @media #{$lg} {
              padding: rem(44) rem(21) rem(33) rem(32);
            }
            @media #{$xl} {
              max-width: rem(320);
            }
            h2 {
              padding-bottom: rem(23);
            }
            h3 {
              @media #{$lg} {
                margin-bottom: 0;
              }
            }
          }
        }
      }
      .slick-list {
        overflow: visible;
      }
    }
    .approach__nav {
      margin-top: rem(11);
      @media #{$lg} {
        margin-top: 0;
      }
    }
  }
}
// Approach slider ends here
