// Banner styles starts here
.gwc.banner {
  position: relative;
  overflow: hidden;
  padding: rem(85) 0 rem(25);
  @media #{$md} {
    padding: rem(166) 0 rem(111);
  }
  @media #{$lg} {
    padding: rem(240) 0 rem(145);
  }
  .banner__video {
    position: absolute;
    min-height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .banner__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .banner__message {
    background: #ffffffcc;
    max-width: rem(550);
    width: 100%;
    margin: 0 auto;
    opacity: 1;
    position: relative;
    border-radius: rem(230);
    padding: rem(86) rem(32) rem(87) rem(32);

    @media #{$lg} {
      padding: rem(64) rem(88) rem(59) rem(89);
      max-width: rem(977);
    }
    .banner__details {
      text-align: center;
      position: relative;

      &::before {
        height: rem(1);
        background-color: #5dbdf0;
        width: 100%;
        max-width: rem(626);
        margin: 0 auto;
        font-size: 0;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        display: none;

        @media #{$lg} {
          display: block;
        }
      }

      @media #{$lg} {
        padding: rem(43) 0 rem(40);
      }
    }
    h1 {
      font-size: rem(36);
      line-height: rem(40.5);
      color: #181c4b;
      font-weight: 400;
      font-family: $secondary-font;

      @media #{$lg} {
        font-size: rem(49);
        line-height: rem(56);
      }
      img {
        width: rem(159);
        @media #{$md} {
          width: rem(200);
        }
        @media #{$xl} {
          width: rem(277);
        }
      }
      i,
      em {
        font-style: italic;
      }
    }
    .banner__consumer {
      text-align: center;
      overflow: hidden;
      max-width: rem(626);
      margin: 0 auto;

      .italic {
        font-style: italic;
        font-family: $secondary-font;
      }

      h2 {
        font-weight: 400;
        font-size: rem(26) !important;
        line-height: rem(33.8) !important;
        display: inline-block;
        position: relative;
        font-family: $secondary-font;
        color: #5dbdf0;
        @media #{$lg} {
          font-size: rem(34) !important;
          line-height: rem(44.2) !important;
        }
        &::before,
        &::after {
          left: -100%;
          right: calc(100% + 20px);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background-color: #5dbdf0;
          height: rem(1);
          content: "";
        }
        &::after {
          right: -100%;
          left: calc(100% + 20px);
        }
      }
    }
  }

  &--inner {
    background-color: #f9f4f1;
    padding: rem(96) 0 rem(59);
    background-image: url("../images/infy-mob.svg");
    background-position-y: 60px;
    background-repeat: no-repeat;
    @media #{$xsm} {
      background-size: cover;
    }
    @media #{$md} {
      background-position-y: unset;
    }
    @media #{$lg} {
      background-position-y: initial;
      background-position-x: initial;
      padding: rem(128) 0 rem(188);
      background-image: url("../images/infinity1.svg");
      overflow: unset;
    }

    .banner__wrap {
      display: block;
    }

    .banner__details {
      padding-top: rem(50);
      position: relative;

      @media #{$lg} {
        padding-top: rem(122);
      }

      h1 {
        font-weight: 400;
        font-size: rem(48);
        line-height: rem(43);
        color: #181c4b;
        font-family: $secondary-font;

        @media #{$lg} {
          font-size: rem(86);
          line-height: rem(77);
        }

        i,
        em {
          color: #5dbdf0;
          font-style: italic;
        }
      }
    }
  }
  &--about {
    padding: rem(96) 0 rem(62);
    background-size: cover;
    @media #{$lg} {
      padding: rem(128) 0 rem(183);
    }
    @media screen and (max-width: 390px) {
      background-size: contain;
    }
    .l-banner {
      display: block;
    }
    .banner__details {
      padding-right: rem(54);
      @media #{$md} {
        padding-right: 0;
      }
    }
  }
  .banner__value {
    position: absolute;
    left: rem(741);
    bottom: rem(-2);
    display: none;
    @media #{$lg} {
      display: block;
    }
  }
  .banner__count {
    width: rem(36);
    height: rem(36);
    font-weight: 400;
    font-size: rem(18);
    line-height: rem(22);
    text-align: center;
    text-transform: uppercase;
    color: #4a5c76;
    font-style: normal;
    border: 1px solid #4a5c76;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: relative;
    top: -38px;
    overflow: hidden;
    &.open {
      overflow: visible;
    }

    @media #{$lg} {
      display: inline-flex;
    }

    p {
      font-weight: 400;
      font-size: rem(12);
      line-height: rem(15);
      text-align: center;
      text-transform: uppercase;
      color: #4a5c76;

      @media #{$lg} {
        font-size: rem(18);
        line-height: rem(22);
      }
    }
  }

  .banner__count-inner {
    width: rem(23);
    height: rem(23);
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: relative;
    border: 1px solid #fff;
    cursor: pointer;

    @media #{$lg} {
      width: rem(36);
      height: rem(36);
      margin-bottom: rem(35);
    }

    p {
      font-weight: 400;
      font-size: rem(12);
      line-height: rem(15);
      text-align: center;
      color: #fff;
      margin-bottom: 0 !important;
      text-transform: none !important;

      @media #{$lg} {
        font-size: rem(18);
        line-height: rem(22);
      }
    }
  }

  .banner__seek {
    background-color: #4a5c76;
    border-radius: 20%;
    padding: rem(20);
    text-align: center;
    position: absolute;
    z-index: 99;
    opacity: 0;
    top: rem(0);
    width: rem(300);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media #{$lg} {
      width: rem(434);
      padding: rem(21) rem(37) rem(34);
      top: rem(-22);
      border-radius: 100%;
      height: rem(434);
    }

    @media #{$xxxl} {
      right: auto;
    }

    h3 {
      margin-bottom: rem(11);
      font-weight: 400;
      font-size: rem(23);
      line-height: rem(26);
      color: #5dbdf0;
      font-family: $secondary-font;
      text-transform: initial;

      @media #{$lg} {
        font-size: rem(32);
        line-height: rem(38);
        max-width: rem(394);
        margin: auto;
      }
    }

    p {
      font-weight: 400;
      font-size: rem(16);
      line-height: rem(24);
      color: #ffffff;
      font-family: $primary-font;
      text-transform: capitalize;

      @media #{$lg} {
        margin-bottom: rem(18);
        font-weight: 400;
        font-size: rem(24);
        line-height: rem(29);
      }
    }

    .banner__footer {
      max-width: rem(220);
      text-align: center;
      margin: 0 auto;

      position: relative;

      &::before {
        content: "";
        display: block;
        width: 100%;
        max-width: rem(246);
        height: rem(1);
        background-color: #fff;
        margin: 0 auto rem(25);
        font-size: 0;
      }

      p {
        font-size: rem(20);
        line-height: rem(25);
        text-transform: uppercase;
        margin-bottom: 0;
      }
    }

    .line {
      max-width: rem(246);
      height: rem(1);
      background-color: #fff;
      margin: 0 auto rem(25);
      font-size: 0;
    }

    .banner__count-close {
      background-color: transparent;
      border: 0;
      color: white;
      z-index: -1;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      img {
        width: rem(15.84);
        height: rem(15.84);
      }
    }

    &.show {
      opacity: 1;

      .banner__count-close {
        z-index: 99;
      }
    }
  }
  &--full-width {
    padding: 0;
    .banner__inner {
      position: relative;

      .banner__wrap {
        min-height: calc(100vh - 30px);
        position: relative;
        &::after {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          content: "";
          background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.7)
          );
        }
      }
    }
    .banner__message {
      padding: 0;
      z-index: 3;
      h1 {
        color: #fff;
        font-weight: 400;
        font-size: rem(36);
        line-height: rem(40.5);
        font-family: $secondary-font;
        @media #{$lg} {
          font-size: rem(72);
          line-height: rem(72);
          text-shadow: 0px 4px 9px rgba(0, 0, 0, 0.35);
        }
        em {
          color: #b9e9f9;
        }
      }
      background-color: transparent;
      .banner__details {
        padding: 0;
        &::before,
        &::after {
          display: none;
        }

        h2 {
          color: #b9e9f9;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          font-weight: 700;
          font-size: rem(24);
          line-height: rem(31.2);
          font-family: $secondary-font;
          &::before,
          &::after {
            display: none;
          }
        }
      }
      .banner__consumer {
        margin-bottom: rem(62);
        @media #{$md} {
          margin-bottom: rem(63);
        }
        em {
          display: block;
          @media #{$md} {
            display: inline-block;
          }
        }
      }
    }
    .banner__video {
      z-index: auto;
      height: 100%;
      min-height: auto;
    }
  }
}
// Banner styles ends here
