.gwc.banner
    .banner__wrap
        video(autoplay="autoplay", muted ,loop).banner__video  
            source(src="images/gw.mp4" type="video/mp4")
            source(src="images/gw.webm" type="video/webm")
        .container
            .banner__message
                .banner__details
                    h1.testing_heading We are 
                        img(src="images/logo--blue.svg", alt="Logo") 
                        | , and we empower exceptional entrepreneurs everywhere 
                        i  to change the world for good.  
                .banner__consumer.is--desktop
                    h2 Consumer Tech
                        i  Investors 

                
