.gwc.reach.reach--capital 
    .container
        span.l-caption Our Investment Approach
        .reach__wrap
            .reach__content 
                h3 Our portfolio isn’t a pipeline, seeking to extract value as companies pass through.
                p Instead, we view it as a cycle, built to provide ongoing support that nourishes sustainable, mutually-beneficial growth over the lifecycle of the business.
            .reach__thumb
                img(src="./images/img-reach--capital.png", alt="Capital")
