.gwc.reach 
    .container
        h2 Global 
            span Reach
        .reach__thumb.is--mobile
            img(src="./images/watch.jpg", alt="Man")
        .reach__wrap
            .reach__content 
                h3 Life-changing ideas—and world-changing companies—can come from anyone, 
                    span anywhere.
                p Our portfolio companies deliver world-changing products and services to billions of people across the globe. Our software-enabled approach identifies breakout companies early and supports entrepreneurs throughout their lifecycle—from seed to IPO.
            .reach__thumb.is--desktop
                img(src="./images/watch.jpg", alt="Man")
