.gwc.reach.reach--about 
    .container
        h2.l-caption Careers at Goodwater
        .reach__thumb.is--mobile
            img(src="./images/img-about3.png" alt="Founder") 
        .reach__wrap
            .reach__content 
                h3 Help us empower exceptional entrepreneurs everywhereto 
                    i change the world for good.
            .reach__thumb.is--desktop
                img(src="./images/img-about3.png", alt="Capital")
