.gwc.grid.grid--genesis
    .container
        h2.l-caption Genesis by the Numbers
        .grid__boxes 
            .grid__card
                -var cardHead = false
                -var cardCount = "253"
                -var cardFooter = "Seed Stage Companies"
                -var cardPara = ""
                include ../box/box.pug
            .grid__card
                -var cardHead = false
                -var cardCount = "800+"
                -var cardFooter = "Startup Leaders"
                -var cardPara = ""
                include ../box/box.pug
            .grid__card
                -var cardCount = "3x"
                -var cardFooter = "More Likely to Raise Series A*"
                -var cardPara = false
                include ../box/box.pug
        .grid__details
            p *Based on Pitchbook deal data for companies that raised a seed round in 2021 and subsequently raised Series A as of Q2 2022.