.gwc.grid.grid--about
    .container
        h2.l-caption Capital by the Numbers
        .grid__boxes 
            .grid__card
                -var cardHead = false
                -var cardCount = "72"
                -var cardFooter = "Venture & Growth Investment"
                -var cardPara = ""
                include ../box/box.pug
            .grid__card
                -var cardHead = false
                -var cardCount = "53"
                -var cardFooter = "Team Members"
                -var cardPara = ""
                include ../box/box.pug
        
            .grid__card
                -var cardCount = "13"
                -var cardFooter = "$1B+ Companies in 7 years"
                -var cardPara = false
                include ../box/box.pug
            .grid__card
                -var cardHead = false
                -var cardCount = "$4B+"
                -var cardFooter = "Total Assets"
                -var cardPara = ""
                include ../box/box.pug
        
            .grid__card
                -var cardCount = "270"
                -var cardFooter = "SeedInvestments"
                -var cardPara = ""
                include ../box/box.pug
            .grid__card
                -var cardCount = "$1B"
                -var cardFooter = "Latest Funds"
                -var cardPara = ""
                include ../box/box.pug
