extend ../pagelayout/home
block variables
	-var active = 'Home'
	-var bodyClass = 'inner-page'
block story
	-var innerBanner = "Our Portfolio"
	-var innerbannerHead1 = "The "
	-var innerbannerHead2 = "future "
	-var innerbannerHead3 = "of "
	-var innerbannerHead4 = "consumer technology."
	include ../components/banner/banner--inner.pug
	-var consumerHead = "We believe consumer technology is the most "
	-var consumerContent1 = "powerful force "
	-var consumerContent2 = "on earth, shaping culture and transforming the global economy at unprecedented speed and scale. "
	-var consumerContent3 = "We invest around the globe, and across many stages and sectors of consumer technology—from finance to food, from healthcare to housing, from entertainment to education to travel. But all of our portfolio companies have one thing in common: each one has the power to change the world for good."
	-var className = "consumer--portfolio"
	include ../components/consumer/consumer.pug
	include ../components/delivery/delivery.pug
	include ../components/filter/filter.pug
	include ../components/career/career.pug



