extend ../pagelayout/home
block variables
	-var active = 'Home'
	-var bodyClass = 'inner-page'
block story
	-var innerBanner = "Page Title"
	-var innerbannerHead1 = "Lorem ipsum dolor sit amet, "
	-var innerbannerHead2 = "consectetur elit."
	include ../components/banner/banner--inner.pug
	.standard-text
		.container
			h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus sit amet luctus venenatis lectus magna fringilla urna. Consectetur a erat nam at lectus urna duis convallis. Arcu non odio euismod lacinia at quis risus sed. Suspendisse faucibus interdum posuere lorem ipsum dolor sit. 
			p Volutpat sed cras ornare arcu dui vivamus arcu felis bibendum. Eu mi bibendum neque egestas. Vel orci porta non pulvinar neque laoreet suspendisse interdum. Gravida arcu ac tortor dignissim. Eu sem integer vitae justo eget magna. Arcu vitae elementum curabitur vitae nunc sed velit. Eu scelerisque felis imperdiet proin fermentum leo. Eu feugiat pretium nibh ipsum consequat nisl vel. Vel risus commodo viverra maecenas accumsan lacus. Facilisi cras fermentum odio eu. Amet nulla facilisi morbi tempus iaculis urna id volutpat lacus. Vitae auctor eu augue ut lectus. Risus sed vulputate odio ut enim blandit volutpat maecenas.
			p Turpis massa sed elementum tempus egestas sed sed risus. Habitasse platea dictumst vestibulum rhoncus. Nisi lacus sed viverra tellus in. Viverra tellus in hac habitasse platea dictumst vestibulum rhoncus. Sagittis nisl rhoncus mattis rhoncus. Vel pharetra vel turpis nunc eget. Ultrices in iaculis nunc sed augue lacus. Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Tincidunt augue interdum velit euismod in pellentesque massa placerat duis. Cras pulvinar mattis nunc sed blandit libero volutpat.
			p Dignissim cras tincidunt lobortis feugiat vivamus. Vestibulum lectus mauris ultrices eros in cursus turpis massa tincidunt. Fames ac turpis egestas integer eget aliquet. Pellentesque nec nam aliquam sem. Lectus magna fringilla urna porttitor rhoncus. Sodales ut eu sem integer vitae justo eget magna fermentum. Suspendisse interdum consectetur libero id faucibus nisl tincidunt. Libero justo laoreet sit amet cursus sit amet dictum. Velit laoreet id donec ultrices tincidunt arcu non sodales. Euismod quis viverra nibh cras pulvinar mattis nunc sed. Pharetra diam sit amet nisl. Imperdiet nulla malesuada pellentesque elit. Cursus in hac habitasse platea dictumst. Morbi tristique senectus et netus. Fames ac turpis egestas sed tempus urna et. Facilisi cras fermentum odio eu feugiat.
			p Massa eget egestas purus viverra accumsan in nisl nisi. Condimentum id venenatis a condimentum vitae sapien. Sagittis orci a scelerisque purus semper. Magnis dis parturient montes nascetur. Faucibus a pellentesque sit amet porttitor eget dolor morbi non. Facilisis gravida neque convallis a. Tristique risus nec feugiat in fermentum posuere urna. Porta non pulvinar neque laoreet suspendisse interdum consectetur libero. Odio tempor orci dapibus ultrices in iaculis. Eu turpis egestas pretium aenean pharetra magna ac placerat. Aliquam ultrices sagittis orci a scelerisque purus semper eget. Duis at consectetur lorem donec massa. Urna duis convallis convallis tellus id interdum velit. Odio pellentesque diam volutpat commodo sed egestas egestas fringilla. Feugiat nisl pretium fusce id velit ut. Vivamus arcu felis bibendum ut tristique et egestas.





	