.gwc.career
    .container.container--full
        .career__wrap 
            .career__content
                h2 Career Opportunities
                p Our companies are changing the world. You can be part of it.
                a(href="#" title="").l-btn See Open Positions 
                    i 
                        svg(width='11' height='11' viewbox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M1.21047 1.17139H9.41407M9.41407 1.17139L9.17486 9.3715M9.41407 1.17139L0.500392 9.82837' stroke='white' stroke-width='1.25')
            .career__thumb  
                img(src="images/career.jpg", alt="Career")