// career sections styles starts here
.gwc.career {
  .container {
    padding: 0;
  }

  .career__wrap {
    display: flex;
    flex-direction: column-reverse;

    @media #{$lg} {
      flex-direction: row;
    }

    .career__content {
      padding: rem(41) rem(25) rem(42);
      background-color: #b9e9f9;

      @media #{$lg} {
        width: 50%;
        flex: 0 0 50%;
        padding: rem(117) rem(75) rem(100) rem(100);
      }

      h2 {
        font-weight: 400;
        font-size: rem(48);
        line-height: rem(43);
        color: #181c4b;
        margin-bottom: rem(15);
        font-family: $secondary-font;

        @media #{$lg} {
          font-size: rem(50);
          line-height: rem(48);
          margin-bottom: rem(36);
        }

        @media #{$xxxl} {
          font-size: rem(86);
          line-height: rem(77);
        }
      }

      p {
        font-weight: 400;
        font-size: rem(16);
        line-height: rem(24);
        color: #181c4b;
        margin-bottom: rem(20);
        max-width: rem(240);

        @media #{$lg} {
          margin-bottom: rem(43);
          font-size: rem(24);
          max-width: rem(448);
          line-height: rem(31);
        }
      }
    }

    .career__thumb {
      @media #{$lg} {
        width: 50%;
        flex: 0 0 50%;
      }

      img {
        object-fit: cover;
        height: 100%;
        display: block;
        max-height: rem(290);
        width: 100%;
        @media #{$md} {
          max-height: rem(573);
        }
      }
    }
  }

  .l-btn {
    color: #181c4b;
    border-color: #181c4b;
    position: relative;
    padding: rem(8.75) rem(25);
    font-size: rem(16);
    line-height: rem(20.326);
    letter-spacing: -0.005em;
    margin-left: rem(10);
    @media #{$lg} {
      position: static;
      font-size: rem(18);
      line-height: rem(22.86);
      margin-left: 0;
    }

    svg {
      path {
        stroke: #181c4b;
      }
    }
    &:hover {
      background-color: #5dbdf0;
    }
  }
}
// career sections styles ends here
