// capital page slider styles starts from here
.gwc.slider-capital {
  @media #{$lg} {
    padding: rem(0) rem(100);
  }
  .slider-capital__bottom {
    padding-bottom: rem(142);
    background-image: url("../images/infinitymob.svg");
    background-repeat: no-repeat;
    margin: 0 rem(-38);
    background-position: bottom;
    background-size: contain;
    background-position-y: rem(41.75);
    @media #{$sm} {
      background-size: cover;
      margin: 0 rem(-100);
    }
    @media #{$lg} {
      padding-bottom: rem(478);
      background-size: auto;
      background-position-y: bottom;
    }
    @media screen and (min-width: 1441px) {
      background-size: cover;
      background-position-y: rem(117);
    }
  }
  .toggle__wrap {
    .toggle__head--heading {
      span {
        @media screen and (max-width: 992px) {
          display: none;
        }
      }
    }
    h3 {
      @media screen and (min-width: 1400px) {
        font-size: rem(70);
        line-height: rem(70);
      }
    }
  }
  .gwc.about-hero .toggle__wrap .toggle__thumb img {
    @media screen and (max-width: 480px) {
      height: rem(174);
    }
  }
  .gwc.about-hero
    .hero__toggle-wrap
    .hero__toggle-item
    .toggle__btn
    .toggle__btn-wrap
    .item__btn-no {
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  .gwc.about-hero .toggle__wrap h3 {
    font-weight: 500;
  }
  .gwc.about-hero {
    max-width: rem(1440);
    margin: 0 auto;
  }
}
// capital page slider styles ends from here
