// filter functionality styles starts form here
.gwc.filter {
  .filter__row {
    display: flex;
    align-items: center;
    margin-bottom: rem(33);
    justify-content: space-between;
    @media #{$lg} {
      margin-bottom: rem(70);
      padding-left: rem(25);
    }

    .filter__nav {
      ul {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, max-content);
        gap: rem(92);
      }

      li {
        display: inline-block;
        position: relative;

        a {
          font-size: rem(24);
          line-height: rem(30);
          color: #181c4b;
          letter-spacing: -0.005em;
          cursor: pointer;
          position: relative;
          padding-right: rem(20);
          font-weight: 500;

          &::after {
            content: "";
            background-image: url("../images/filter-down.svg");
            width: rem(10);
            height: rem(10);
            background-repeat: no-repeat;
            background-size: contain;
            right: 0;
            position: absolute;
            top: calc(50% + 2px);
            transform: translateY(-50%);
          }
        }

        &:hover {
          a {
            color: #5dbdf0;
          }
        }

        &.active {
          a {
            color: #5dbdf0;
          }
        }
      }

      .filter__subnav {
        position: absolute;
        top: rem(30);
        left: 0;
        background-color: #fff;
        padding: rem(13) rem(19);
        display: none;
        box-shadow: 0px 8px 10px -8px rgba(0, 0, 0, 0.25);
        border-radius: rem(12);
        z-index: 45;

        li {
          margin: 0 0 rem(10);
          padding-right: 0;
          display: block;

          a {
            font-weight: 400;
            font-size: rem(13);
            line-height: rem(17);
            letter-spacing: -0.005em;
            color: #181c4b;
            display: inline-block;
            padding: rem(6) rem(15);
            border-radius: rem(15);
            border: 1px solid #181c4b;
            white-space: nowrap;

            &::after {
              content: none;
            }
          }
          &.active {
            a {
              background: #5dbdf0;
              color: #fff;
              border-color: #5dbdf0;
            }
          }

          &:hover {
            a {
              background: #5dbdf0;
              color: #fff;
              border-color: #5dbdf0;
            }
          }
        }
      }
    }
    .filter__search {
      width: calc(50% - 5px);
      @media #{$lg} {
        width: auto;
      }
      .filter__searchbar {
        position: relative;

        input {
          border: 0;
          outline: 0;
          padding: rem(5) rem(16) rem(4);

          font-weight: 400;
          font-size: rem(16);
          line-height: rem(20);
          letter-spacing: -0.005em;
          color: #4b5b75;
          border: 1.5px solid #4b5b75;
          border-radius: rem(54);
          width: 100%;
          padding-right: rem(35);

          @media #{$xl} {
            width: rem(489);
            padding: rem(11) rem(26);
            font-size: rem(20);
            line-height: rem(25);
            padding-right: rem(50);
          }
        }
        button {
          position: absolute;
          width: rem(17);
          height: rem(17);
          right: rem(15);
          top: 50%;
          transform: translateY(-50%);
          padding: 0;
          border: 0;
          outline: 0;
          background-color: transparent;
          cursor: pointer;

          img {
            height: rem(16);
            @media #{$xl} {
              height: rem(26);
            }
          }
          @media #{$xl} {
            width: rem(26);
            height: rem(26);
          }
        }
      }
    }
  }
  .filter__boxes {
    @media #{$md} {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: rem(20);
    }

    @media #{$lg} {
      display: flex;
      flex-wrap: wrap;
      margin: 0 rem(-28);
      grid-template-columns: unset;
      column-gap: unset;
      justify-content: center;
    }

    .filter__box {
      &:last-child {
        a {
          .filter--box {
            margin-bottom: rem(17);

            @media #{$lg} {
              margin-bottom: rem(40);
            }
          }
        }
      }

      @media #{$md} {
      }

      @media #{$lg} {
        width: 33.33%;
        flex: 0 0 33.33%;
        padding: 0 rem(28);
      }

      &.filter--lawn {
        a {
          .filter--box {
            &:hover {
              background-color: #72cc7d;
            }
          }
        }
      }

      &.filter--violet {
        a {
          .filter--box {
            &:hover {
              background-color: #9599ff;
            }
          }
        }
      }

      &.filter--gold {
        a {
          .filter--box {
            &:hover {
              background-color: #ffd05b;
            }
          }
        }
      }
      &.filter--lake {
        a {
          .filter--box {
            &:hover {
              background-color: #5dbdf0;
            }
          }
        }
      }
    }
  }

  &--box {
    background-color: #f9f4f1;
    padding: rem(17) rem(17) rem(13);
    margin-bottom: rem(20);
    border-radius: rem(20);
    @media #{$md} {
      min-height: rem(197);
    }

    @media #{$lg} {
      margin-bottom: rem(40);
      padding: rem(27) rem(32) rem(24) rem(25);
    }

    &.active {
      background-color: #ffd05b;
    }

    &:hover {
      background-color: #ffd05b;
    }

    .l-tag {
      margin-bottom: rem(3);
    }

    .filter__head {
      display: flex;
      border-bottom: 1px solid #181c4b;
      margin-bottom: rem(7);
      @media #{$lg} {
        padding-left: rem(7.42);
      }

      h2 {
        flex: 1;
        font-weight: 700;
        font-size: rem(36);
        line-height: rem(47);
        font-family: $secondary-font;
        color: #181c4b;
        @media screen and(max-width:440px) {
          font-size: rem(28);
        }
      }

      img {
        width: rem(23);
        height: rem(23);
        margin-top: rem(4);
      }
    }

    p {
      font-size: rem(13);
      line-height: rem(17);
      letter-spacing: -0.005em;
      color: #181c4b;
      font-weight: 500;
      @media #{$lg} {
        padding-left: rem(7.42);
      }
    }
  }

  .filter__search-mobile {
    position: fixed;
    padding: rem(0) rem(24);
    left: 0;
    right: 0;
    background: #ffffff;
    height: 100%;
    top: rem(60);
    display: none;
    overflow: scroll !important;
    padding-bottom: rem(100);
    z-index: 9999;

    .filter__search-head {
      display: flex;
      align-items: center;
      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
      padding: rem(19) rem(24);
      margin: 0 rem(-24);

      h2 {
        font-weight: 400;
        font-size: rem(24);
        line-height: rem(30);
        letter-spacing: -0.005em;
        color: #181c4b;
        padding-right: rem(20);
        flex: 1;
      }

      img {
        width: rem(17);
        height: rem(17);
      }
    }

    .filter__tab {
      padding: rem(18) rem(0);
      padding-right: rem(20);
      border-bottom: 1px solid #4a5c76;
      padding-bottom: 0;

      .filter__tabup {
        display: flex;
        align-items: center;
        padding-bottom: rem(18);

        &.arrow--rotate {
          img {
            transform: rotate(90deg);
          }
        }

        img {
          transition: 0.3s ease-in;
          width: rem(13);
        }

        h3 {
          font-size: rem(18);
          line-height: rem(23);
          letter-spacing: -0.005em;
          color: #181c4b;
          font-weight: 400;
          flex: 1;
          padding-right: rem(50);
        }
      }

      .filter__tab-collapse {
        display: none;

        > ul {
          display: flex;
          flex-wrap: wrap;

          > li {
            width: 50%;
            flex: 0 0 50%;
            display: inline-flex;
          }
        }
      }
      &.border-0 {
        border-bottom: 0;
      }
    }
  }

  .filter__load-more {
    padding-bottom: rem(51);
    text-align: center;
    position: relative;
    margin-top: rem(25);

    @media #{$lg} {
      padding-bottom: rem(77);
      margin-top: rem(40);
    }

    .l-btn {
      color: #76bbeb;
      border-color: #5dbdf0;
      position: relative;
      z-index: 99;

      &:hover {
        color: #181c4b;
        background-color: #5dbdf0;
      }
    }

    &::before {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 100%
      );
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: rem(500);

      display: none;

      @media #{$lg} {
        display: block;
      }
    }
  }

  .filter__buttons {
    margin-top: rem(100);
    text-align: center;
    .l-btn {
      display: block;
      font-size: rem(16);
      line-height: rem(20.32);
      &:hover {
        border-color: #181c4b;
      }
    }

    .link {
      display: block;
      color: #5dbdf0;
      text-decoration: underline;
      margin-top: rem(17);
      font-size: rem(15);
      line-height: rem(19.5);
    }
  }

  .filter__mob {
    width: calc(50% - 5px);
    .l-btn {
      min-width: rem(160);
      padding: rem(6) rem(46);
      font-size: rem(16);
      line-height: rem(20);
      min-height: rem(31);
      font-weight: 400;
      width: 100%;
      &:hover,
      &:active {
        border: 1px solid #181c4b;
      }
    }
  }
}
// filter functionality styles ends here
