.gwc.delivery
    .delivery__slider 
        .delivery__slide
            .delivery__tab.bg--lawn
                .container
                    .delivery__row
                        .delivery__content
                            .delivery__logo
                                img(src="images/wee.svg", alt="Logo")
                            span.l-tag Food/Food Delivery
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui id quam erat. Nisi, enim, nullam sit orci risus pellentesque. In dui egestas fermentum nam eget nisi.
                            a(href="#" title="link") Visit Site
                                i 
                                    svg(width='23' height='21' viewbox='0 0 23 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M11.6881 1.00809L21.0488 10.5907M21.0488 10.5907L11.4191 19.8899M21.0488 10.5907L0.999819 10.2909' stroke='white' stroke-width='1.5')
                        .delivery__thumb 
                            img(src="images/company.jpg", alt="Company")
        .delivery__slide
            .delivery__tab.bg--lawn
                .container
                    .delivery__row
                        .delivery__content
                            .delivery__logo
                                img(src="images/wee.svg", alt="Logo")
                            span.l-tag Food/Food Delivery
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui id quam erat. Nisi, enim, nullam sit orci risus pellentesque. In dui egestas fermentum nam eget nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui id quam erat. Nisi, enim, nullam sit orci risus pellentesque. In dui egestas fermentum nam eget nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui id quam erat. Nisi, enim, nullam sit orci risus pellentesque. In dui egestas fermentum nam eget nisi.
                            a(href="#" title="link") Visit Site
                                i 
                                    svg(width='23' height='21' viewbox='0 0 23 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M11.6881 1.00809L21.0488 10.5907M21.0488 10.5907L11.4191 19.8899M21.0488 10.5907L0.999819 10.2909' stroke='white' stroke-width='1.5')
                        .delivery__thumb 
                            img(src="images/company.jpg", alt="Company")
        .delivery__slide
            .delivery__tab.bg--lawn
                .container
                    .delivery__row
                        .delivery__content
                            .delivery__logo
                                img(src="images/wee.svg", alt="Logo")
                            span.l-tag Food/Food Delivery
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui id quam erat. Nisi, enim, nullam sit orci risus pellentesque. In dui egestas fermentum nam eget nisi.
                            a(href="#" title="link") Visit Site
                                i 
                                    svg(width='23' height='21' viewbox='0 0 23 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M11.6881 1.00809L21.0488 10.5907M21.0488 10.5907L11.4191 19.8899M21.0488 10.5907L0.999819 10.2909' stroke='white' stroke-width='1.5')
                        .delivery__thumb 
                            img(src="images/company.jpg", alt="Company")