.gwc.manifesto
    .container.container--full
        h2 Our Manifesto
        .manifesto__wrap
            .manifesto__content 
                h3 At Goodwater we seek out the exceptional entrepreneurs and help them cultivate the success they deserve. 
                p Our software-enabled model combined with our values-driven investment practices ensures consistently exceptional outcomes not only for entrepreneurs, employees and LP’s, but also for society at large.
                p We’re reinventing what it means to be a venture capital firm by acting as a regenerative investment platform that democratizes access to capital and continually reinvests insights and profits back into the companies we serve, so that they can in turn serve even more people.
                p We are Goodwater and we empower exceptional entrepreneurs everywhere to change the world for good.
            .manifesto__thumb 
                img.desktop(src="./images/founder-mobile.png", alt="Founder")