.gwc.manifesto.manifesto--capital
    .container.container--full
        h2.l-caption Global Reach
        .manifesto__wrap
            .manifesto__content 
                h3 Life-changing companies and ideas can come from anyone, anywhere.
                p Our portfolio companies deliver world-changing products and services to billions of people around the world. Our software-enabled approach identifies breakout companies early, and allows us to support companies from seed to IPO.
            .manifesto__thumb 
                img.is--desktop(src="./images/img-career.png", alt="Founder")
                img.is--mobile(src="./images/career-img.png", alt="Founder")