.gwc.invest.invest--about
    .container 
        .invest__wrap 
            .invest__col
                figure 
                    img(src="./images/img-about2.png", alt="Invest")
            .invest__col
                .invest__content
                    p Our software-enabled model combined with our values-driven investment practices ensures consistently exceptional outcomes not only for entrepreneurs, employees and LP’s, but also for society at large.
                    p We’re reinventing what it means to be a venture capital firm by acting as a regenerative investment platform that democratizes access to capital and continually reinvests insights and profits back into the companies we serve, so that they can in turn serve even more people.
                    h5 
                        i We are Goodwater and we empower exceptional entrepreneurs everywhere to change the world for good.