.gwc.filter
    .container
        .filter__row
            .filter__nav.is--desktop
                ul 
                    li 
                        a.primary(href="javascript:void(0)" title="link") Location
                        ul.filter__subnav 
                            li
                                a(href="#" title="nav") Education
                            li 
                                a(href="#" title="nav") Entertainment
                            li 
                                a(href="#" title="nav") Financial Services
                            li
                                a(href="#" title="nav") Food/Food Delivery
                            li
                                a(href="#" title="nav") Healthcare
                            li
                                a(href="#" title="nav") Transportation
                    li
                        a.primary(href="javascript:void(0)" title="link") Category
                        ul.filter__subnav 
                            li 
                                a(href="#" title="nav") Education
                            li
                                a(href="#" title="nav") Entertainment
                            li
                                a(href="#" title="nav") Financial Services
                            li 
                                a(href="#" title="nav") Food/Food Delivery
                            li
                                a(href="#" title="nav") Healthcare
                            li
                                a(href="#" title="nav") Transportation
                    li 
                        a.primary(href="javascript:void(0)" title="link") Growth Stage
                        ul.filter__subnav 
                            li 
                                a(href="#" title="nav") Education
                            li 
                                a(href="#" title="nav") Entertainment
                            li 
                                a(href="#" title="nav") Financial Services
                            li 
                                a(href="#" title="nav") Food/Food Delivery
                            li 
                                a(href="#" title="nav") Healthcare
                            li 
                                a(href="#" title="nav") Transportation
            .filter__mob.is--mobile 
                a(href="javascript:void(0)" title="link").l-btn.l-btn--light-blue.js-filter  Filter
            .filter__search 
                .filter__searchbar
                    input(type="text" placeholder="Search")
                    button 
                            img(src="images/filter-search.svg", alt="Search")
        .filter__search-mobile.is--mobile 
            .filter__search-head 
                h2 Filter By:
                span.js-filter
                    img(src="images/filter-x.svg", alt="Close")
            .filter__tab
                .filter__tabup
                    h3 Location
                    img(src="images/filter-right.svg", alt="Open")
                .filter__tab-collapse
                    ul.filter__items
                        li
                            label.l-checkbox  1
                                input(type="checkbox") 
                                span.l-checkmark
                        li 
                            label.l-checkbox  2
                                input(type="checkbox") 
                                span.l-checkmark
                        li 
                            label.l-checkbox  3
                                input(type="checkbox") 
                                span.l-checkmark
                        li 
                            label.l-checkbox  4
                                input(type="checkbox") 
                                span.l-checkmark
                        li 
                            label.l-checkbox  5
                                input(type="checkbox") 
                                span.l-checkmark
                        li 
                            label.l-checkbox 6
                                input(type="checkbox") 
                                span.l-checkmark
            .filter__tab
                .filter__tabup
                    h3 Category
                    img(src="images/filter-right.svg", alt="Open")
                .filter__tab-collapse 
                    ul.filter__items
                        li
                            label.l-checkbox 7
                                input(type="checkbox") 
                                span.l-checkmark
                        li
                            label.l-checkbox 8
                                input(type="checkbox") 
                                span.l-checkmark
                        li
                            label.l-checkbox 9
                                input(type="checkbox") 
                                span.l-checkmark
                        li 
                            label.l-checkbox 10
                                input(type="checkbox") 
                                span.l-checkmark
                        li
                            label.l-checkbox 11
                                input(type="checkbox") 
                                span.l-checkmark
                        li 
                            label.l-checkbox 12
                                input(type="checkbox") 
                                span.l-checkmark
                        li 
                            label.l-checkbox 13
                                input(type="checkbox") 
                                span.l-checkmark
            .filter__tab
                .filter__tabup
                    h3 Growth Stage
                    img(src="images/filter-right.svg", alt="Open")
                .filter__tab-collapse 
                    ul.filter__items
                        li 
                            label.l-checkbox Education 14
                                input(type="checkbox") 
                                span.l-checkmark
                        li 
                            label.l-checkbox Education 15
                                input(type="checkbox") 
                                span.l-checkmark
                        li 
                            label.l-checkbox Education 16
                                input(type="checkbox") 
                                span.l-checkmark
                        li 
                            label.l-checkbox Education 17
                                input(type="checkbox") 
                                span.l-checkmark
                        li 
                            label.l-checkbox Education 17
                                input(type="checkbox") 
                                span.l-checkmark
            .filter__buttons 
                a(href="#" title="Link").l-btn.l-btn--light-blue View Companies
                a(href="#" title="Link").link Reset All Filters

        .filter__boxes 
            .filter__box
                a(href="#" title="Link") 
                    -var filterTag="Financial Services"
                    -var filterHead="Toss"
                    -var filterBottom="Making financial services fast and secure"
                    include filter--box.pug
            .filter__box
                a(href="#" title="Link") 
                    -var filterTag="Financial Services"
                    -var filterHead="Stash"
                    -var filterBottom="Investing for real people"
                    -var customClass="active"
                    include filter--box.pug
            .filter__box
                a(href="#" title="Link") 
                    -var filterTag="Financial Services"
                    -var filterHead="Monzo"
                    -var customClass=false
                    -var filterBottom="It’s time for a new kind of bank"
                    include filter--box.pug
            .filter__box
                a(href="#" title="Link") 
                    -var filterTag="Healthcare"
                    -var filterHead="Everly Health"
                    -var filterBottom="At-home health tests with easy results"
                    include filter--box.pug
            .filter__box
                a(href="#" title="Link") 
                    -var filterTag="Food/Food Delivery"
                    -var filterHead="Getir"
                    -var filterBottom="On-demand delivery, day or night"
                    include filter--box.pug
            .filter__box
                a(href="#" title="Link") 
                    -var filterTag="Financial Services"
                    -var filterHead="Toss"
                    -var filterBottom="Making financial services fast and secure"
                    include filter--box.pug
            .filter__box
                a(href="#" title="Link") 
                    -var filterTag="Financial Services"
                    -var filterHead="Stash"
                    -var filterBottom="Investing for real people"
                    -var customClass="active"
                    include filter--box.pug
            .filter__box
                a(href="#" title="Link")  
                    -var filterTag="Financial Services"
                    -var filterHead="Monzo"
                    -var customClass=false
                    -var filterBottom="It’s time for a new kind of bank"
                    include filter--box.pug
            .filter__box
                a(href="#" title="Link") 
                    -var filterTag="Healthcare"
                    -var filterHead="Everly Health"
                    -var filterBottom="At-home health tests with easy results"
                    include filter--box.pug
            .filter__box
                a(href="#" title="Link") 
                    -var filterTag="Food/Food Delivery"
                    -var filterHead="Getir"
                    -var filterBottom="On-demand delivery, day or night"
                    include filter--box.pug
            .filter__box
                a(href="#" title="Link") 
                    -var filterTag="Healthcare"
                    -var filterHead="Everly Health"
                    -var filterBottom="At-home health tests with easy results"
                    include filter--box.pug
            .filter__box
                a(href="#" title="Link") 
                    -var filterTag="Food/Food Delivery"
                    -var filterHead="Getir"
                    -var filterBottom="On-demand delivery, day or night"
                    include filter--box.pug
        .filter__load-more 
            a(href="#" title="Load more").l-btn Load More
        
