.gwc.accordion.accordion--collective
	.container
		h2.l-caption The Collective Process
		.accordion__wrap
			.l-accordion
				.l-accordion__title 
					span 01
					h3 Identify a Need
				.l-accordion__content
					.l-accordion__block
						p Working with a company’s leaders, we identify an underprivileged group that could benefit from their existing products.
			.l-accordion
				.l-accordion__title 
					span 02
					h3 Put Profits into Products
				.l-accordion__content
					.l-accordion__block
						p Working with a company’s leaders, we identify an underprivileged group that could benefit from their existing products.
			.l-accordion
				.l-accordion__title 
					span 03
					h3 Implement & Measure
				.l-accordion__content
					.l-accordion__block
						p Working with a company’s leaders, we identify an underprivileged group that could benefit from their existing products.
			.l-accordion
				.l-accordion__title 
					span 04
					h3  Make it Sustainable
				.l-accordion__content
					.l-accordion__block
						p Working with a company’s leaders, we identify an underprivileged group that could benefit from their existing products.
