// Default accordion styles starts here
.gwc.accordion {
  padding: rem(41) 0 rem(34);
  background-color: #b9e9f9;
  @media #{$lg} {
    padding: rem(110) 0 rem(90);
  }
  .accordion__wrap {
    margin-top: rem(14);
    @media #{$lg} {
      margin-top: rem(55);
    }
  }
  .l-accordion {
    position: relative;
    border-bottom: 1px solid #8399b9;
    .l-accordion__content {
      display: none;
    }
    .l-accordion__title {
      position: relative;
      cursor: pointer;
      padding: rem(30) 0;
      padding-bottom: rem(20);
      display: flex;
      align-items: center;
      padding-right: rem(40);
      @media #{$lg} {
        padding-right: rem(50);
        padding: rem(29) 0 rem(40);
      }
      h3 {
        font-size: rem(38);
        line-height: rem(35);
        font-family: $secondary-font;
        color: #4a5c76;
        font-weight: 400;
        padding-left: rem(30);
        @media #{$lg} {
          font-size: rem(60);
          line-height: rem(54);
          padding-left: rem(50);
        }
      }
      span {
        font-size: rem(18);
        line-height: rem(22);
        font-family: $secondary-font;
        color: #4a5c76;
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
        width: rem(36);
        height: rem(36);
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
      &::after {
        background-image: url("../images/img-accordion.svg");
        width: rem(17);
        height: rem(17);
        position: absolute;
        content: "";
        right: rem(0);
        top: calc(50%);
        background-size: contain;
        background-repeat: no-repeat;
        transition: all 0.3s ease-in-out;
        @media #{$lg} {
          width: rem(28.52);
          height: rem(29.39);
          transform: translateY(-50%);
        }
      }
    }
    &.is-open {
      .l-accordion__title {
        &:after {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
  }

  p {
    font-size: rem(24);
    line-height: rem(31);
    font-family: $secondary-font;
    font-weight: 400;
    color: #4a5c76;
    @media #{$lg} {
      font-size: rem(32);
      line-height: rem(38);
    }
  }
  .l-accordion__block {
    max-width: rem(676);
    padding-bottom: rem(24);
    @media #{$lg} {
      padding-left: rem(86);
      padding-bottom: rem(49);
      padding-top: rem(15);
    }
  }
}
// Default accordion styles ends here
