.gwc.accordion
	.container
		h2.l-caption Our Values
		.accordion__wrap
			.l-accordion
				.l-accordion__title 
					span 01
					h3 Integrity
				.l-accordion__content
					.l-accordion__block
						p We bring integrity and intellectual honesty to every relationship and decision.
			.l-accordion
				.l-accordion__title 
					span 02
					h3 Quality
				.l-accordion__content
					.l-accordion__block
						p We bring integrity and intellectual honesty to every relationship and decision.
			.l-accordion
				.l-accordion__title 
					span 03
					h3 Humility
				.l-accordion__content
					.l-accordion__block
						p We bring integrity and intellectual honesty to every relationship and decision.
			.l-accordion
				.l-accordion__title 
					span 04
					h3  Service
				.l-accordion__content
					.l-accordion__block
						p We bring integrity and intellectual honesty to every relationship and decision.
			.l-accordion
				.l-accordion__title 
					span 05
					h3  Justice
				.l-accordion__content
					.l-accordion__block
						p We bring integrity and intellectual honesty to every relationship and decision.