.gwc.accordion.accordion--genesis
	.container
		h2.l-caption The Genesis Process
		.accordion__wrap
			.l-accordion
				.l-accordion__title 
					span 01
					h3 Fast Decisions
				.l-accordion__content
					.l-accordion__block
						p We kick off Genesis relationships with rapid seed investments designed to help promising companies build momentum.
			.l-accordion
				.l-accordion__title 
					span 02
					h3 Long Term Partners
				.l-accordion__content
					.l-accordion__block
						p We kick off Genesis relationships with rapid seed investments designed to help promising companies build momentum.
			.l-accordion
				.l-accordion__title 
					span 03
					h3 Growth-Fueling Portfolio Services
				.l-accordion__content
					.l-accordion__block
						p We kick off Genesis relationships with rapid seed investments designed to help promising companies build momentum.