// manifesto section styles are starts from here
.gwc.manifesto {
  padding: rem(6) 0 rem(59);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  @media #{$lg} {
    padding: rem(63) 0;
    position: relative;
  }

  h2 {
    font-size: rem(48);
    line-height: rem(43.2);
    color: #181c4b;
    margin-bottom: rem(35);
    font-weight: 400;
    font-family: $secondary-font;
    padding-bottom: rem(40);
    border-bottom: 4px solid #181c4b;

    @media #{$lg} {
      font-size: rem(86);
      line-height: rem(77);
      margin-bottom: rem(64);
      padding-bottom: rem(54);
      text-align: center;
    }

    span {
      font-style: italic;
    }
  }

  .manifesto__wrap {
    @media #{$lg} {
      display: flex;
      margin: 0 rem(-18);
      margin-bottom: rem(158);
    }

    .manifesto__content {
      margin-bottom: rem(36);

      @media #{$lg} {
        width: 50%;
        flex: 0 0 50%;
        margin-bottom: 0;
        padding: 0 rem(40) 0 rem(20);
      }

      h3 {
        font-size: rem(24);
        line-height: rem(31.2);
        color: #181c4b;
        margin-bottom: rem(25);
        font-weight: 400;
        font-family: $secondary-font;

        @media #{$lg} {
          font-size: rem(32);
          line-height: rem(38);
          margin-bottom: rem(35);
        }

        span {
          font-style: italic;
        }
      }

      p {
        font-size: rem(16);
        line-height: rem(24);
        margin-bottom: rem(25);
        font-family: $secondary-font;

        @media #{$lg} {
          font-size: rem(24);
          line-height: rem(31);
          margin-bottom: rem(35);

          &:last-child {
            margin-bottom: 0;
          }
        }

        color: #4a5c76;
      }
    }

    .manifesto__thumb {
      padding: 0;
      margin-bottom: rem(28);

      @media #{$lg} {
        padding: 0 rem(18) 0 rem(18);
        padding-right: 0;
        width: 50%;
        position: relative;
        right: rem(0);
        @media #{$xxxl} {
          right: rem(100);
        }

        img {
          float: right;
        }
      }

      img {
        margin-right: rem(20);
        @media #{$xxxl} {
          width: 100%;
          max-height: rem(548);
          object-fit: cover;
          border-radius: 264px 0 0 264px;
          margin-right: rem(-80);
        }

        &.desktop {
          display: none;

          @media #{$lg} {
            display: block;
          }
        }

        &.mobile {
          display: block;

          @media #{$lg} {
            display: none;
          }
        }
      }
    }
  }

  .manifesto__bottom {
    text-align: center;

    h3 {
      font-weight: 400;
      font-size: rem(24);
      line-height: rem(31.2);
      text-align: center;
      margin: 0 auto rem(51);
      color: #181c4b;
      font-family: $secondary-font;
      max-width: rem(1147);
      max-width: rem(518);
      @media #{$lg} {
        font-weight: 700;
        font-size: rem(48);
        line-height: rem(58);
        margin-bottom: rem(94);
        max-width: rem(920);
      }
      em {
        display: block;
      }
    }
  }
  &--capital {
    padding: rem(0) 0 rem(56);
    @media #{$lg} {
      padding: rem(123) 0 rem(121);
    }
    .container--full {
      padding-right: rem(0);
    }
    .manifesto__wrap {
      margin: 0;
      .manifesto__content {
        margin-top: rem(24);
        padding: 0 rem(30) 0 0;
        margin-bottom: rem(30);
        @media #{$lg} {
          width: 45%;
          flex: 0 0 45%;
          margin-top: rem(37);
          margin-bottom: rem(36);
        }
        h3 {
          font-size: rem(24);
          line-height: rem(31);
          font-weight: 400;
          margin-bottom: rem(24);
          @media #{$lg} {
            font-size: rem(48);
            line-height: rem(58);
            font-weight: 700;
            margin-bottom: rem(30);
          }
        }
        p {
          font-family: $primary-font;
          font-size: rem(18);
          line-height: rem(27);
          max-width: rem(511);
          margin-bottom: rem(5);
          @media #{$lg} {
            margin-bottom: 0;
          }
        }
      }
      .manifesto__thumb {
        margin-bottom: 0;
        right: 0;
        padding: 0;
        @media #{$lg} {
          margin-bottom: rem(28);
          width: 55%;
          flex: 0 0 55%;
        }
        img {
          margin-right: 0;

          @media #{$lg} {
            margin-top: rem(-82);
          }
        }
      }
    }
  }
  &--about {
    padding: rem(50) 0 rem(0);
    @media #{$lg} {
      padding: rem(98) 0 rem(24);
    }
    .container--full {
      padding: 0 rem(0) 0rem (24);
      @media #{$lg} {
        padding: 0 0 0 rem(104);
      }
    }
    .manifesto__wrap {
      margin: 0;
      .manifesto__content {
        margin: rem(50) 0;
        padding: 0;
        @media #{$lg} {
          margin: rem(30) 0 rem(36);
        }
        h3 {
          font-size: rem(24);
          line-height: rem(31);
          margin-top: rem(47);
          @media #{$lg} {
            font-size: rem(48);
            line-height: rem(58);
            margin-top: 0;
            font-weight: 700;
          }
        }
        p {
          font-family: $primary-font;
          font-size: rem(18);
          line-height: rem(27);
          @media #{$lg} {
            max-width: rem(513);
          }
        }
        img {
          @media screen and (max-width: 992px) {
            min-width: rem(390);
          }
        }
      }
      .manifesto__thumb {
        right: 0;
        padding: 0;
        @media #{$lg} {
          margin-bottom: rem(28);
        }
        img {
          padding: 0;
          margin: 0;
          @media #{$lg} {
            margin-top: rem(134);
            height: rem(548);
            object-fit: contain;
          }
          @media #{$xxl} {
            object-fit: initial;
          }
        }
      }
    }
  }
}
// manifesto section styles are ends from here
