.gwc.manifesto.manifesto--about
    .container.container--full
        h2.l-caption Our Manifesto
        .manifesto__wrap
            .manifesto__content
                img.is--mobile(src="./images/img-about1.png" alt="Founder") 
                h3 At Goodwater we seek out exceptional entrepreneurs and help them cultivate the success they deserve. 
                p At Goodwater we don’t chase wealth or fame. We chase big dreams that have the potential to change the world. These are the dreams of entrepreneurs whose consumer tech startups are transforming the way we live, work, eat, and play—for the better.
                p From day one we’ve believed in the power of consumer technology to measurably improve billions of lives across the globe. From housing to healthcare, food delivery to finances, education to entertainment and transportation, we're committed to guiding the world’s most promising entrepreneurs to solve the world’s most pressing problems.
            .manifesto__thumb 
                img.is--desktop(src="./images/img-about1.png", alt="Founder")