.gwc.manifesto.manifesto--genesis
    .container.container--full
        h2.l-caption How We Work
        .manifesto__thumb.is--mobile
                img(src="./images/img-genesis--career1.png", alt="Founder")
        .manifesto__wrap
            .manifesto__content 
                h3 Accelerate growth with data-driven continuous improvement.
                p Our approach to serving startups is rooted in data-driven continuous improvement. We start by guiding founders to track and report the right foundational metrics. Then, we provide benchmarking paired with content and community services that help companies accelerate their growth. The cycle repeats itself, propelling companies toward greater levels of success with each iteration.
            .manifesto__thumb.is--desktop
                img(src="./images/img-genesis--career2.png", alt="Founder")