.gwc.manifesto.manifesto--collective
    .container.container--full
        h2.l-caption How It Works
        .manifesto__wrap
            .manifesto__content
                img.is--mobile(src="./images/img-about1.png" alt="Founder") 
                h3 We empower companies to deliver their products to communities in need, for free.
                p The Collective integrates impact into a company’s core business—building sustainable offerings that can serve far more people.
            .manifesto__thumb 
                img.is--desktop(src="./images/img-about1.png", alt="Founder")