//model slider styles starts here
.gwc.model {
  background-color: #181c4b;
  padding: rem(18) 0 rem(15);
  @media #{$lg} {
    padding: rem(72) 0 rem(99);
  }
  .model__heading {
    margin-bottom: rem(26);
    @media #{$lg} {
      margin-bottom: rem(106);
    }
    h3 {
      font-weight: 400;
      font-size: rem(12);
      line-height: rem(18);
      color: #ffffff;
      text-align: center;

      @media #{$lg} {
        text-align: left;
        font-size: rem(16);
        line-height: rem(24);
        font-weight: 700;
        &::before {
          background-color: #ffffff;
        }
      }
    }
  }

  .model__wrap {
    @media #{$lg} {
      display: flex;
      justify-content: space-between;
    }

    .model__title {
      @media #{$lg} {
        width: 48%;
        flex: 0 48%;
        padding-right: rem(10);

        @media #{$xl} {
          width: 53%;
          flex: 0 53%;
          padding-right: rem(30);
        }

        @media screen and(min-width:1440px) {
          padding-right: rem(185);
        }
      }

      .model__head {
        position: relative;
        margin-bottom: rem(22);
        cursor: pointer;
        box-shadow: none;
        outline: none;
        @media #{$lg} {
          margin: 0;
          padding: 0;
          min-width: calc(100% + 23px);
        }

        .model__count {
          width: rem(42);
          height: rem(42);
          background-color: transparent;
          border: 1px solid #4a5c76;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          left: rem(1);
          position: absolute;
          top: 40%;
          transform: translateY(-50%);

          @media #{$lg} {
            top: rem(-57);
            right: rem(-10);
            left: auto;
            position: relative;
            transform: none;
            width: rem(36);
            height: rem(36);
          }

          p {
            font-weight: 400;
            font-size: rem(21);
            line-height: rem(26);
            text-align: center;
            text-transform: uppercase;
            position: relative;

            @media #{$lg} {
              position: static;
            }

            color: #4a5c76;
          }
        }

        h2 {
          font-weight: 400;
          font-size: rem(65);
          line-height: rem(58.2);
          font-family: $secondary-font;
          color: #4a5c76;
          display: inline-block;
          margin-bottom: rem(10);
          padding-left: rem(50);
          @media #{$lg} {
            font-size: rem(80);
            line-height: rem(132);
            margin-bottom: 0;
            padding-left: 0;
          }

          @media #{$xxl} {
            font-size: rem(110);
            line-height: rem(132);
          }
          @media screen and(max-width:365px) {
            font-size: rem(51);
          }
        }

        &.slick-current {
          h2 {
            font-style: italic;
            color: #5dbdf0;
          }

          .model__count {
            background-color: #5dbdf0;

            border-color: #5dbdf0;

            p {
              color: #181c4b;
            }
          }
        }
        @media screen and (max-width: 990px) {
          h2 {
            font-style: italic;
            color: #5dbdf0;
          }

          .model__count {
            background-color: #5dbdf0;
            border-color: #5dbdf0;
            p {
              color: #181c4b;
            }
          }
        }

        &:hover {
          h2 {
            color: #8399b9;
          }

          .model__count {
            background-color: #8399b9;

            border-color: #8399b9;

            p {
              color: #181c4b;
            }
          }
        }

        &::after {
          content: "";
          height: rem(1);
          left: 0%;
          bottom: 0;
          right: 0;
          position: absolute;
          background-color: #4a5c76;

          @media #{$lg} {
            bottom: rem(10);
            right: 13%;
          }
        }
        &.spacing-adjust-safari {
          h2 {
            padding-right: rem(10);
          }
          .model__count {
            @media #{$lg} {
              right: 0;
            }
          }
        }
      }
    }

    .model__content {
      @media #{$lg} {
        width: 52%;
        flex: 0 52%;
      }
      @media #{$xl} {
        width: 47%;
        flex: 0 47%;
      }

      .slick-dots {
        li {
          width: auto;
          height: auto;
          margin: 0;

          &.slick-active {
            button {
              color: #181c4b;
              background: #5dbdf0;
              border-color: #5dbdf0;

              &::before {
                color: #181c4b;
              }
            }
          }
        }

        &:nth-child(n + 10) {
          button::before {
            content: none;
          }
        }

        button {
          font-size: rem(14);
          line-height: rem(18);
          color: #4a5c76;
          border: 0.782828px solid #4a5c76;
          width: rem(28);
          height: rem(28);
          border-radius: 100%;
          margin: 0 rem(9);

          display: flex;
          align-items: center;
          justify-content: center;

          @media #{$lg} {
            display: block;
          }

          &::before {
            content: "0";
            display: block;
            position: static;
            width: auto;
            height: auto;
            font-size: rem(14);
            line-height: rem(18);
            text-align: center;
            color: #4a5c76;
            font-family: "Untitled Sans";
            opacity: 1;

            &:hover {
              color: #4a5c76;
            }

            @media #{$lg} {
              display: none;
            }
          }
        }
      }

      .model__slider-head {
        border-bottom: 1px solid #5dbdf0;
        padding-bottom: rem(20);
        margin-bottom: rem(24);
        position: relative;

        h3 {
          font-weight: 400;
          font-size: rem(46);
          line-height: rem(42);
          letter-spacing: -0.02em;
          font-family: $secondary-font;
          color: #5dbdf0;
          display: inline-block;
          @media #{$lg} {
            font-size: rem(42);
          }
          @media #{$xl} {
            font-size: rem(46);
          }
          span {
            display: inline-block;

            img {
              margin-right: rem(10);
            }
          }
        }
      }

      .model__slider-content {
        @media #{$lg} {
          display: flex;
          justify-content: space-between;
          padding: 0 rem(2);
        }

        .model__slider-left {
          @media #{$lg} {
            width: 87%;
            flex: 0 0 87%;
          }

          p {
            font-weight: 400;
            font-size: rem(16);
            line-height: rem(24);
            color: #ffffff;
            padding-bottom: rem(25);

            @media #{$lg} {
              padding-bottom: rem(0);
            }
          }
        }

        .model__slider-btn {
          @media #{$lg} {
            margin: 0;
            padding: 0;
            border: 0;
          }

          .l-btn {
            &:hover {
              color: #181c4b;
              background-color: #5dbdf0;
              border-color: transparent;

              svg {
                path {
                  stroke: #181c4b;
                }
              }
            }
          }
        }
      }

      .model__count {
        width: rem(36);
        height: rem(36);
        background-color: #5dbdf0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        margin-right: rem(20);
        position: relative;
        top: rem(-8);

        p {
          font-weight: 400;
          font-size: rem(21);
          line-height: rem(26);
          text-align: center;
          text-transform: uppercase;
          color: #181c4b;

          @media #{$lg} {
            font-size: rem(18);
            line-height: rem(22);
            position: static;
          }
        }
      }
    }
  }

  .model__loop {
    margin-bottom: rem(27.26);

    @media #{$lg} {
      margin-top: rem(-58);
    }

    svg {
      max-width: 100%;
      height: auto;
      display: block;

      .model__nav {
        path {
          fill: #fff;
        }

        stroke: #fff;
      }

      .is-active {
        stroke: #5dbdf0;
      }
    }

    &.is--mobile {
      text-align: center;

      svg {
        margin: auto;
      }
    }
  }
  .slick-dots {
    padding-top: rem(18);
    border-top: 1px solid #4a5c76;
    bottom: rem(-30);
    @media #{$lg} {
      display: none;
    }
  }
}
//model slider styles ends here
