.gwc.approach
    .container.container--full
        h2 Our Investment 
            span Approach
        .approach__content 
            h4 Our portfolio isn’t a pipeline, seeking to extract as much value as possible from companies as they pass through. 
            p Instead, it’s a cycle, built to provide ongoing support that nourishes sustainable, mutually-beneficial growth over the lifecycle of the business. 
    .approach__wrap
        .approach__slider 
            .approach__slide 
                .approach__tab.bg--gold 
                    span 01
                    h2 Seek out promising consumer tech companies
                    h3 Unlike most venture capital firms, we don’t aspire to hear thousands of pitches per year. 
                    p Rather, we proactively seek out a very curated group of companies that meet our criteria, and get to know those companies and markets extremely well. If we call you, it’s because we already believe your company has the potential to be a one-of-a-kind, transformative company in your category.
            .approach__slide 
                .approach__tab.bg--gold 
                    span 02
                    h2 Make capital investments
                    h3 We specialize 100% in consumer tech. And nothing else.
                    p That singular focus means we know more about your business, your competition, and the pathways to success than any other investor.
            .approach__slide 
                .approach__tab.bg--gold 
                    span 03
                    h2 Provide software, data, services, and support
                    h3 We provide our entrepreneurs with detailed data, concierge services, start-up curriculum, and custom dashboards
                    p That way, they canunderstand the most important aspects of achieving best-in-class performance. We then help you craft a plan to achieve market leadership based on your current context and competitive landscape. 
            .approach__slide 
                .approach__tab.bg--gold 
                    span 04
                    h2 Make capital investments
                    h3 We specialize 100% in consumer tech. And nothing else.
                    p That singular focus means we know more about your business, your competition, and the pathways to success than any other investor.
            .approach__slide 
                .approach__tab.bg--gold 
                    span 05
                    h2 Make capital investments
                    h3 We specialize 100% in consumer tech. And nothing else.
                    p That singular focus means we know more about your business, your competition, and the pathways to success than any other investor.
        .approach__nav 
            .approach__slider-arrow
                button.approach__arrow.approach__arrow--prev(type=button role="button" aria-lebel="Previous")
                    svg(width='15' height='14' viewbox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.41142 1.32353L13.2122 7.12435M13.2122 7.12435L7.24474 12.7536M13.2122 7.12435L0.787908 6.94284' stroke='white' stroke-width='1.25')
                button.approach__arrow.approach__arrow--next(type=button role="button" aria-lebel="Next")
                    svg(width='15' height='14' viewbox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.41142 1.32353L13.2122 7.12435M13.2122 7.12435L7.24474 12.7536M13.2122 7.12435L0.787908 6.94284' stroke='white' stroke-width='1.25')