//Invest component starts here
.gwc.invest {
  padding: rem(28) 0 rem(41);
  @media #{$lg} {
    padding: rem(68) 0 rem(44);
  }
  .invest__wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(35);

    @media #{$lg} {
      grid-template-columns: repeat(2, 1fr);
      gap: rem(135);
    }
    h3 {
      font-size: rem(24);
      line-height: rem(31.2);
      color: #181c4b;
      font-weight: 400;
      font-family: $secondary-font;
      font-weight: 700;
      @media #{$lg} {
        font-size: rem(48);
        line-height: rem(58);
      }
    }

    p {
      font-size: rem(16);
      line-height: rem(24);
      color: #181c4b;
      font-weight: 400;
      @media #{$lg} {
        font-size: rem(18);
        line-height: rem(27);
        color: #4a5c76;
        margin-bottom: rem(91);
      }
    }

    span {
      font-style: italic;
    }
  }
  &--about {
    padding-top: 0;
    @media #{$lg} {
      padding: rem(52) 0 rem(104);
    }
    .container {
      @media #{$lg} {
        max-width: rem(1144);
      }
    }
    .invest__wrap {
      @media #{$lg} {
        column-gap: rem(50);
        align-items: center;
      }
      p {
        margin-bottom: rem(35);
        font-size: rem(18);
        line-height: rem(27);
        color: #4a5c76;
      }
      h5 {
        font-size: rem(24);
        line-height: rem(31.2);
        color: #4a5c76;
        font-weight: 400;
        font-family: $secondary-font;
        @media #{$lg} {
          font-size: rem(32);
          line-height: rem(38);
        }
      }
      figure {
        margin: 0;
      }
      .invest__content {
        @media #{$lg} {
          margin-right: rem(8);
        }
      }
    }
  }
  &--capital {
    padding: rem(56) 0 rem(57);
    @media #{$lg} {
      padding: rem(121) 0;
    }
    .invest__wrap {
      margin-top: rem(30);
      text-align: center;
      display: block;
      gap: 0;
      @media #{$lg} {
        text-align: left;
        display: flex;
      }
      .invest__col {
        @media #{$lg} {
          padding-right: rem(162);
          width: 60%;
        }
        &:last-child {
          @media #{$lg} {
            padding-right: 0;
            width: 40%;
          }
        }
      }
      h3 {
        font-weight: 400;
        text-align: left;
        margin-bottom: rem(24);
        @media #{$lg} {
          font-weight: 700;
          margin-bottom: 0;
        }
      }
      p {
        font-size: rem(20);
        line-height: rem(30);
        color: #4a5c76;
        margin-bottom: rem(24);
        text-align: left;
        @media #{$lg} {
          margin-bottom: rem(0);
          max-width: rem(435);
        }
      }
    }
    .l-btn {
      padding: rem(10) rem(25);
      font-weight: 500;
      @media #{$lg} {
        margin-top: rem(91);
      }
      svg {
        width: auto;
        height: auto;
      }
    }
  }
}
//Invest component ends here
