.gwc.invest.invest--capital
    .container 
        span.l-caption Our Portfolio
        .invest__wrap 
            .invest__col
                h3 We invest in companies across a broad spectrum of stages, places, and industries. 
            .invest__col
                p But there’s one thing they all have in common: they all offer products or services that can change lives for the better. 
                a(href="#" title="See Our  Portfolio").l-btn.l-btn--dark See Our  Portfolio