.gwc.care
    .container.container--full
        h2 Our Manifesto
        .care__content 
            p Our portfolio includes companies across a broad spectrum of stages, places, and industries. But there’s one thing they all have in common: they all offer products or services that can change lives for the better. 
        .care__portfolio
            include ../about-hero/about-hero.pug
        