// Consumer styles starts here
.gwc.consumer {
  .consumer__wrap {
    padding: rem(28) 0 rem(41);
    border-bottom: 4px solid #181c4b;
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(35);
    @media #{$lg} {
      padding: rem(68) 0 rem(44);
      grid-template-columns: repeat(2, 1fr);
      gap: rem(135);
    }
    .consumer__col {
      h3 {
        font-size: rem(24);
        line-height: rem(31.2);
        color: #181c4b;
        font-weight: 400;
        font-family: $secondary-font;
        @media #{$lg} {
          font-size: rem(32);
          line-height: rem(38);
        }
      }

      p {
        font-size: rem(16);
        line-height: rem(24);
        color: #181c4b;
        font-weight: 400;
        @media #{$lg} {
          font-size: rem(18);
          line-height: rem(27);
          color: #4a5c76;
        }
      }
      span {
        font-style: italic;
      }
    }
  }
  &--portfolio {
    .consumer__wrap {
      @media #{$lg} {
        gap: rem(74);
        padding-bottom: rem(75);
      }

      .consumer__col {
        p {
          max-width: rem(497);
        }
      }
    }
  }
  &--capital {
    .consumer__wrap {
      display: flex;
      flex-wrap: wrap;
      gap: 0;
      padding: rem(36) 0 rem(23);
      @media #{$lg} {
        padding: rem(68) 0 rem(68);
      }
      .consumer__col {
        @media #{$lg} {
          width: 58%;
          flex: 0 0 58%;
          padding-right: rem(135);
        }
        p {
          font-size: rem(18);
          line-height: rem(27);
          color: #4a5c76;
        }
        h3 {
          margin-bottom: rem(27);
          @media #{$lg} {
            margin-bottom: 0;
          }
        }
        &:last-child {
          @media #{$lg} {
            padding-right: rem(0);
            width: 42%;
            flex: 0 0 42%;
          }
        }
      }
    }
  }
  &--about {
    .consumer__wrap {
      display: flex;
      flex-wrap: wrap;
      gap: 0;
      padding: rem(30) rem(0) rem(31);
      @media #{$lg} {
        padding: rem(68) rem(0) rem(60);
      }
      .consumer__col {
        @media #{$lg} {
          width: 62%;
          flex: 0 0 62%;
          padding-right: rem(135);
        }
        &:last-child {
          @media #{$lg} {
            padding-right: rem(0);
            width: 38%;
            flex: 0 0 38%;
          }
        }
        h3 {
          margin-bottom: rem(25);
          margin-right: rem(20);
          @media #{$lg} {
            margin-bottom: 0;
            margin-right: rem(0);
          }
        }
        p {
          color: #4a5c76;
        }
      }
    }
  }
}
// Consumer styles ends here
