// meet slider styles starts here
.gwc.meet {
  padding: rem(32) 0 rem(27);
  @media #{$lg} {
    padding: rem(78) 0 rem(206);
  }
  .container {
    padding: 0 rem(24);
    @media #{$xl} {
      padding: 0 rem(100);
    }
  }
  .meet__head {
    padding-bottom: rem(29);
    border-bottom: 4px solid #181c4b;
    text-align: center;
    @media #{$lg} {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      text-align: left;
      margin-bottom: rem(52);
      padding-bottom: rem(27);
    }
    @media #{$xxl} {
      padding-bottom: rem(32);
    }

    h2 {
      font-weight: 400;
      font-size: rem(48);
      line-height: rem(43);
      font-family: $secondary-font;
      color: #181c4b;
      padding-bottom: rem(24);

      i,
      em {
        display: block;
        font-style: italic;
      }

      @media #{$lg} {
        font-size: rem(86);
        line-height: rem(77);
      }
    }

    .l-btn {
      padding: rem(10) rem(25);
      font-weight: 500;
      font-size: rem(12);
      line-height: rem(15);

      @media #{$lg} {
        font-size: rem(15);
        line-height: rem(19);
        font-weight: 400;
        padding: rem(8.75) rem(23.75);
      }
    }
  }

  .meet__card {
    position: relative;
    margin-top: rem(80);
    padding: rem(131) rem(13) rem(32);
    @media #{$lg} {
      margin: 0;
      padding: rem(35) rem(69);
      margin-bottom: rem(68);
      height: 100%;
    }

    .meet__headings {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 1px solid #181c4b;
      margin-bottom: rem(17);

      @media #{$lg} {
        margin-bottom: rem(22);
      }
    }

    h2 {
      font-weight: 700;
      font-size: rem(48);
      line-height: rem(62.4);
      color: #181c4b;
      font-family: $secondary-font;
      margin-bottom: rem(15);

      @media #{$lg} {
        padding-bottom: rem(16);
        line-height: rem(62.4);
      }

      @media #{$lg} {
        font-size: rem(72);
        line-height: rem(71);
        margin-bottom: 0;
      }
    }

    .l-tag {
      padding: rem(5.19) rem(17.3);
      margin-bottom: rem(28);
      background-color: #fff;
      display: inline-block;
      border-radius: rem(15);
      letter-spacing: -0.005em;
      font-size: rem(12);
      line-height: rem(17);

      @media #{$lg} {
        margin-bottom: rem(57);
        font-size: rem(13);
        line-height: rem(17);
        letter-spacing: -0.005em;
      }

      h3 {
        font-weight: 500;
        font-size: rem(11);
        line-height: rem(14);
        letter-spacing: -0.005em;
        color: #181c4b;
        display: inline-block;
      }
    }

    h4 {
      font-weight: 400;
      font-size: rem(20);
      line-height: rem(30);
      color: #181c4b;
      margin-bottom: rem(19);

      @media #{$lg} {
        position: static;
        font-size: rem(30);
        line-height: rem(45);
      }
    }

    .meet__content {
      padding-bottom: rem(27);
      padding-right: rem(20);

      @media #{$lg} {
        padding-bottom: rem(46);
        max-width: rem(327);
        padding-right: 0;
      }

      p {
        font-weight: 400;
        font-size: rem(16);
        line-height: rem(24);
        padding-bottom: rem(7);
        color: #181c4b;

        @media #{$lg} {
          font-size: rem(20);
          line-height: rem(30);
          padding-bottom: rem(16);
          min-height: rem(194);
        }
      }

      a {
        font-size: rem(16);
        line-height: rem(24);
        color: #fff;
        text-decoration: underline;
        font-weight: 400;
        outline: none;
      }
    }

    .meet__thumb {
      position: absolute;
      max-width: rem(297);
      top: rem(-51);
      left: rem(15);
      right: rem(15);

      @media #{$lg} {
        max-width: rem(500);
        right: rem(95);
        bottom: rem(-68);
        left: auto;
        top: auto;
      }

      @media #{$xl} {
        max-width: rem(600);
      }

      @media #{$xxl} {
        max-width: rem(680);
      }

      @media #{$xxxl} {
        max-width: rem(700);
      }
      @media screen and (max-width: 767px) {
        margin: 0 auto;
      }
    }

    .meet__button {
      transform: rotate(-90deg);
      position: absolute;
      right: rem(-21);
      top: auto;
      bottom: rem(234);

      @media #{$md} {
        top: rem(255);
        bottom: auto;
      }

      @media #{$lg} {
        right: rem(33);
        top: rem(190);
      }

      p {
        letter-spacing: 0.075em;
        text-transform: uppercase;
        font-weight: 400;
        font-size: rem(11);
        line-height: rem(14);

        @media #{$lg} {
          font-weight: 500;
        }
      }
    }

    &.bg--gold {
      background-color: #ffd05b;
    }

    &.bg--lawn {
      background-color: #72cc7d;
    }

    &.bg--violet {
      background-color: #9599ff;
    }
  }

  .meet__nav {
    display: flex;
    align-items: center;
    justify-content: center;

    @media #{$lg} {
      justify-content: space-between;
    }

    .meet__arrow {
      border: 0;
      width: rem(50);
      height: rem(32.07);
      background: #fff;
      border-radius: rem(55);
      cursor: pointer;
      padding: 0;
      margin-right: rem(10);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid transparent;

      svg {
        path {
          stroke: #181c4b;
        }
      }

      &:hover {
        background-color: #5dbdf0;
        border-color: #181c4b;

        svg {
          path {
            stroke: #fff;
          }
        }
      }

      &.meet__arrow--prev {
        transform: rotate(180deg);
        border: 1.25px solid #181c4b;
        background-color: transparent;

        &:hover {
          background-color: #181c4b;

          svg {
            path {
              stroke: #fff;
            }
          }
        }
      }
    }

    .meet__year {
      display: inline-block;

      h4 {
        font-weight: 400;
        font-size: rem(30);
        line-height: rem(45);
        color: #181c4b;
      }
    }
  }
  .slick-list {
    overflow: visible !important;
    .slick-track {
      display: flex !important;
      .slick-slide {
        height: inherit !important;
        outline: none;
        box-shadow: none;
      }
    }
  }
}
// meet slider styles ends here
