.gwc.about-hero
    .hero__toggle-wrap
        .hero__toggle-item.active
            .toggle__btn.hid 
                .toggle__btn-wrap.bg--gold
                    span.item__btn-title Healthcare 
                    span.item__btn-no 01
            .toggle__pane 
                .toggle__wrap.bg--gold 
                    .toggle__thumb 
                        img(src="images/man.jpg", alt="man")
                    .toggle__content 
                        .toggle__head 
                            h2 68 Million
                            h3 Lives Under Care
                            .toggle__head--heading
                                h4 Healthcare
                                span 01
        .hero__toggle-item
            .toggle__btn
                .toggle__btn-wrap.bg--lake
                    span.item__btn-title Fintech Service
                    span.item__btn-no 02
            .toggle__pane 
                .toggle__wrap.bg--lake
                    .toggle__thumb 
                        img(src="images/man.jpg", alt="man")
                    .toggle__content 
                        .toggle__head 
                            h2 68 Million
                            h3 Lives Under Care
                            .toggle__head--heading
                                h4 Fintech Services 
                                span 02
        .hero__toggle-item
            .toggle__btn
                .toggle__btn-wrap.bg--sky
                    span.item__btn-title eCommerce 
                    span.item__btn-no 03
            .toggle__pane 
                .toggle__wrap.bg--sky
                    .toggle__thumb 
                        img(src="images/man.jpg", alt="man")
                    .toggle__content 
                        .toggle__head 
                            h2 68 Million
                            h3 Lives Under Care
                            .toggle__head--heading
                                h4 eCommerce
                                span 03
        .hero__toggle-item
            .toggle__btn
                .toggle__btn-wrap.bg--lawn
                    span.item__btn-title Social & Education
                    span.item__btn-no 04
            .toggle__pane 
                .toggle__wrap.bg--lawn
                    .toggle__thumb 
                        img(src="images/man.jpg", alt="man")
                    .toggle__content 
                        .toggle__head 
                            h2 68 Million
                            h3 Lives Under Care
                            .toggle__head--heading
                                h4 Social & Education
                                span 04
        .hero__toggle-item
            .toggle__btn
                .toggle__btn-wrap.bg--violet
                    span.item__btn-title Housing & Transportation 
                    span.item__btn-no 05
            .toggle__pane 
                .toggle__wrap.bg--violet
                    .toggle__thumb 
                        img(src="images/man.jpg", alt="man")
                    .toggle__content 
                        .toggle__head 
                            h2 68 Million
                            h3 Lives Under Care
                            .toggle__head--heading
                                h4 Housing & Transportation
                                span 05
        .hero__toggle-item
            .toggle__btn
                .toggle__btn-wrap.bg--paper
                    span.item__btn-title Aggregate Market Value 
                    span.item__btn-no 06
            .toggle__pane 
                .toggle__wrap.bg--paper
                    .toggle__thumb 
                        img(src="images/man.jpg", alt="man")
                    .toggle__content 
                        .toggle__head 
                            h2 68 Million
                            h3 Lives Under Care
                            .toggle__head--heading
                                h4 Aggregate Market Value
                                span 06