.mt-33 {
  margin-top: 2.25rem;
}

footer.footer-text {
  margin: -2rem 3rem 1rem 3rem;
  color: #8399B9;
  font-size: 14px;
  line-height: 21px;
}

.opportunities--about h2 em {
  color: #5dbdf0;
  font-style: italic;
}

.opportunities--about h3 {
  margin-top: -1.6875rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
  font-size: 2rem;
  line-height: 2.375em;
  padding-bottom: 5.875rem;
  font-weight: 400;
  color: #4A5C76;
  font-family: "Untitled Serif";
  font-style: normal;
}
@media screen and (max-width: 990px) {
  .genesis .gwc.opportunities--about {
    padding-top: 0.4rem;
  }
}
@media screen and (max-width: 990px) {
  .opportunities--about h3 {
    font-size: 1.125rem;
    line-height: 1.6875rem;
    padding-top: 2.1875rem;
    padding-bottom: 2.1875rem;
  }
}

@media screen and (max-width: 990px) {
  .collective .gwc.opportunities--about {
    padding-top: 2rem;
  }
}

.consumer__col {
  text-align: center;

}
.consumer__col > * {
  text-align: left;
}
@media screen and (min-width: 991px) {
  .consumer__col {
    text-align: left;
  }
}

@media screen and (max-width: 990px) {
  .gwc.reach.reach--capital .reach__wrap .reach__thumb {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media screen and (min-width: 991px) {
  .medium-up-hide {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .medium-down-hide {
    display: none;
  }
}

@media screen and (min-width: 991px) {
  .manifesto.collective {
    padding-bottom: 0;
  }
  .manifesto__thumb {
    position: absolute !important;
  }
}

@media screen and (max-width: 990px) {
  .collective .gwc.manifesto {
    padding-top: 2.5625rem;
  }
}

.collective .gwc.consumer.pilot-program {
  padding-top: 2.5625rem;
}

@media screen and (max-width: 990px) {
  .genesis .gwc.manifesto {
    padding-top: 2.5625rem;
  }
}

