/* Commit: a3a289403dfc60e09d78ff47d8ca775869a9dbf6 */
:root {
  --menu-height: 100px;
  --goal-point-height: 2.3rem;
}

@media (min-width: 992px) {
  .gwc.goal .goal__wrapper {
    padding: 0 0;
    min-height: calc(100vh - var(--menu-height)) !important;
  }
  .gwc.goal .goal__wrapper .goal__container .goal__thumb {
    top: 0;
    position: absolute;
    width: 100%;
    margin-bottom: 0;
  }

  .gwc.goal .goal__wrapper .goal__container .goal__slide[data-slide="2"] .goal__subslide .goal__ellipse::after  {
    width: 100%;
  }

  .gwc.consumer--about .consumer__wrap .consumer__col h3 {
    font-size: 2rem;
    line-height: 2.4rem;
    color: #181c4b;
    font-weight: 400;
  }

  .gwc.goal .goal__wrapper .goal__container .goal__thumb__svg,
  .gwc.goal .goal__wrapper .goal__container .goal__thumb__img {
    z-index: -1;
  }
  .gwc.goal .goal__wrapper .goal__container h3.goal__wearegoodwater {
    margin-top: 4rem;
  }

  .gwc.goal .goal__wrapper .goal__container .goal__thumb svg {
    position: absolute;
    max-width: none;
  }

  .gwc.goal .goal__wrapper .goal__container .goal__slide[data-slide="1"] {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
  }
  .gwc.goal .goal__wrapper .goal__container .goal__slide[data-slide="2"] {
    height: calc(100vh - var(--menu-height));
    width: 100%;
    display: flex;
  }

  .gwc.goal .goal__subslide_wrapper {
    position: relative;
    height: 100%;
    align-self: center;
    max-height: 650px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:10;
  }

  .gwc.goal .goal__wrapper .goal__container .goal__slide[data-slide="2"] .goal__subslide {
    transform: none;
    top: auto;
    left: auto;
  }

  .gwc.goal .goal__wrapper .goal__container .goal__slide[data-slide="2"] .goal__subslide[data-sub-slide="1"] .goal__ellipse p {
    font-size: 4.0625rem;
    line-height: 4.0625rem;
  }

  .gwc.goal .goal__wrapper .goal__container .goal__slide[data-slide="2"] .goal__subslide[data-sub-slide="2"] .goal__ellipse {
    width: 100% !important;
  }

  .gwc.goal .goal__wrapper .goal__container .goal__slide[data-slide="2"] .goal__subslide[data-sub-slide="2"] .goal__ellipse p {
    font-size: 32px;
    line-height: 38px;
  }

  .gwc.goal .goal__wrapper .goal__container .goal__slide[data-slide="2"] .goal__subslide[data-sub-slide="3"] .goal__ellipse p {
    font-size: 1.5rem;
    line-height: 1.95rem;
  }

  .gwc.goal .goal__wrapper .goal__container .goal__slide[data-slide="2"] .goal__subslide .goal__ellipse p em {
    display: block;
  }

  .gwc.goal .goal__step_bg  {
    height: calc(50vh + var(--goal-point-height) - var(--menu-height));
    width: 100%;
    max-height: 400px;
    top: calc(50% - (var(--goal-point-height) / 2)) !important;
    display: flex;
  }

  .gwc.goal .goal__step_bg .goal__points {
    flex: 1;
    display: flex;
    height: 100%;
  }

  .gwc.goal .goal__step_bg .goal__points__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .gwc.goal #goal__points__capital  .goal__points__wrapper {
    width: 100%;
  }

  .gwc.goal #goal__points__collective {
    justify-content: flex-end;
  }

  .gwc.goal .goal__step_bg .goal__point {
    font-family: "Untitled Sans";
    font-size: 1.125rem;
    line-height: var(--goal-point-height);
    color: white;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background: #4a5c76;
    z-index: 999;
    display: inline-block;
    z-index: 999;
  }
  .goal__point_title {
    color: #4a5c76;
  }

  .gwc.goal .goal__step_bg  .goal__point_title__point {
    font-size: 2.25rem;
    line-height: 2.925rem;
    font-family: "Untitled Sans";
    font-weight: 300;
  }

  .gwc.goal .goal__step_bg .goal__point_title__text {
    font-size: 3rem;
    line-height: 3.6rem;
    font-family: "Untitled Serif";
    font-weight: 700;
  }
  .gwc.goal .goal__point_title,
  .gwc.goal .goal__subslide.goal__step {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2rem;
    box-shadow: 0 0 2rem 2rem rgba(255, 255, 255, 0.8);
  }

  .gwc.goal .goal__backgrounds {
    display: flex;
  }
  .gwc.goal .goal__background {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 2rem 2rem rgba(255, 255, 255, 0.5);
    opacity: 0;
    margin: 0 2rem;
    z-index: 0;
  }

  .gwc.goal .goal__subslide.goal__step {
    width: 25%;
  }

  .gwc.goal .goal__step .goal__step__header{
    font-size: 1.5rem;
    line-height: 1.95rem;
    font-family: "Untitled Serif";
    font-weight:100;
    color: #181c4b;
    margin-bottom: 0.625rem;
  }

  .gwc.goal .goal__step .goal__step__description {
    font-size: 1rem;
    line-height: 1.7rem;
    font-family: "Untitled Sans";
    color: #4a5c76;
  }

  .gwc.goal .goal__subslide.goal__step#goal__step__genesis {
    left: 14%;
  }

  .gwc.goal .goal__subslide.goal__step#goal__step__capital {
    width: 24rem;
    top: 12%;
  }

  .gwc.goal .goal__subslide.goal__step#goal__step__collective {
    right: 14%;
  }
}