//care models styles starts here
.gwc.care {
  padding: rem(0) 0 rem(39);
  @media #{$lg} {
    padding: rem(0) 0 rem(27);
  }
  h2 {
    font-size: rem(48);
    line-height: rem(43.2);
    color: #181c4b;
    margin-bottom: rem(35);
    font-weight: 400;
    font-family: $secondary-font;
    padding-bottom: rem(40);
    border-bottom: 4px solid #181c4b;
    @media #{$lg} {
      padding-bottom: rem(51);
      margin-bottom: rem(51);
      text-align: center;
    }

    span {
      font-style: italic;
    }

    @media #{$lg} {
      font-size: rem(86);
      line-height: rem(77);
      margin-bottom: rem(55);
      padding-bottom: rem(54);
    }
  }

  p {
    font-weight: 400;
    font-size: rem(24);
    line-height: rem(31.2);
    color: #181c4b;
    font-family: $secondary-font;
    max-width: rem(799);

    margin-bottom: rem(40);

    @media #{$lg} {
      margin: 0 auto;
      margin-bottom: rem(94);
      font-size: rem(32);
      line-height: rem(38);
      text-align: center;
    }
  }

  .care__portfolio {
    margin: 0 rem(-24);
    @media #{$lg} {
      margin: 0;
    }
  }
}
//care models styles ends here
