//Impact section styles starts here
.gwc.impact {
  background-color: #f9f4f1;
  padding: rem(37) 0 rem(13);
  background-size: cover;

  @media #{$lg} {
    background-image: url("../images/infinity.svg");
    padding: rem(79) 0 rem(0);
  }

  .container {
    padding: 0 rem(24);

    @media #{$xl} {
      padding: 0 rem(103);
    }
  }

  .impact__head {
    padding-bottom: rem(29);
    border-bottom: 4px solid #181c4b;
    margin-bottom: rem(39);
    text-align: center;

    @media #{$lg} {
      padding-bottom: rem(50);
      margin-bottom: rem(64.83);
    }

    .l-btn {
      padding: rem(10) rem(25);
      font-weight: 500;
      font-size: rem(12);
      line-height: rem(15);

      @media #{$lg} {
        font-size: rem(15);
        line-height: rem(19);
        font-weight: 400;
        padding: rem(8.75) rem(23.75);
      }
    }

    h2 {
      font-weight: 400;
      font-size: rem(48);
      line-height: rem(43);
      font-family: $secondary-font;
      color: #181c4b;
      padding-bottom: rem(24);
      @media #{$lg} {
        font-size: rem(86);
        line-height: rem(77);
        padding-bottom: 0;
      }
      span {
        font-style: italic;
        display: block;

        @media #{$lg} {
          display: inline-block;
        }
      }
    }
  }
  .impact__title {
    max-width: rem(762);
    margin: 0 auto rem(39);
    text-align: center;
    @media #{$lg} {
      margin-bottom: rem(50);
    }

    p {
      font-weight: 400;
      font-size: rem(36);
      line-height: rem(43);
      color: #4a5c76;
      font-family: $secondary-font;

      @media #{$lg} {
        font-size: rem(32);
        line-height: rem(38);
      }
      em {
        display: block;
        margin: unset;
        margin-bottom: rem(12);
      }
    }
    a {
      &:hover {
        border-color: #181c4b;
      }
    }
  }

  .impact__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    @media #{$md} {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(20);
    }
    @media #{$lg} {
      grid-template-columns: unset;
      gap: unset;
      display: flex;
    }

    .impact__card {
      width: 100%;

      .card {
        @media #{$md} {
          height: 100%;
        }

        @media #{$lg} {
          height: unset;
        }
      }

      &:last-child {
        .gwc.card {
          margin-bottom: 0;

          @media #{$lg} {
            margin-bottom: rem(88);
          }
        }
      }

      @media #{$lg} {
        width: auto;
      }
    }
  }

  .impact__content {
    max-width: rem(564);
    text-align: center;
    margin: 0 auto;

    p {
      color: #4a5c76;
      margin-bottom: rem(36);
      font-size: rem(16);
      line-height: rem(24);

      @media #{$lg} {
        font-size: rem(18);
        line-height: rem(27);
        margin-bottom: rem(29);
      }
    }
  }
}
//Impact section styles ends here
