.gwc.impact
    .container.container--full
        .impact__head 
            h2 Our global 
                i impact. 
            a(href="#" title="Link").l-btn.l-btn--dark.is--mobile Learn more about us
                i 
                    img(src="images/btn-arrow--white.svg", alt="link")
        .impact__title
            p We have decades of experience. Our ecosystem includes hundreds of companies from around the world, serving every major consumer need, and impacting hundreds of millions of lives for the better. 
                i And we’re just getting started.
            a(href="#" title="Link").l-btn.l-btn--light-blue About Us
                i 
                    svg(width='11' height='11' viewbox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M1.21047 1.17139H9.41407M9.41407 1.17139L9.17486 9.3715M9.41407 1.17139L0.500392 9.82837' stroke='white' stroke-width='1.25')
        .impact__cards
            .impact__card 
                -var cardHead = "Healthcare"
                -var cardCount = "68M"
                -var cardFooter = "Lives Under Care"
                include ../box/box.pug
            .impact__card 
                -var cardHead = "Fintech & Ecommerce"
                -var cardCount = "354M"
                -var cardFooter = "Monthly Active Users"
                include ../box/box.pug
            .impact__card 
                -var cardHead = "Housing & Transportation"
                -var cardCount = "78M"
                -var cardFooter = "Lives Under Care"
                include ../box/box.pug
            .impact__card 
                -var cardHead = "Fintech & Ecommerce"
                -var cardCount = "157B"
                -var cardFooter = "Annual Transaction Volume"
                include ../box/box.pug